@page
@model Vino.Core.CMS.Web.Backend.Pages.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>首页 -  Powered By Vinotec</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="~/favicon.ico" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="~/lib/layui-admin/style/admin.css" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/index.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/index.css" />
    </environment>
</head>
<body layadmin-themealias="green" class="layui-layout-body">
    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <!-- 头部区域 -->
            <div class="layui-header">
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <a href="http://www.layui.com/admin/" target="_blank" title="前台">
                            <i class="layui-icon layui-icon-website"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;" layadmin-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;" class="layui-action" title="公告" action="window:/System/Notice/NoticeDialog">
                            <i class="layui-icon layui-icon-notice"></i>
                            <!-- 如果有新消息，则显示小圆点 -->
                            <span class="layui-badge-dot"></span>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;" layadmin-event="lockpage">
                            <i class="fa fa-lock fa-lg" style="font-size:1.1rem"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <a href="javascript:;" layadmin-event="note">
                            <i class="layui-icon layui-icon-note"></i>
                        </a>
                    </li>

                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;"> <cite>@ViewData["LoginUserName"]</cite> <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                            <dd><a class="layui-action" action="tab:['profile', '基本资料', '/Account/Profile', false]">基本资料</a></dd>
                            <dd><a class="layui-action" action="tab:['password', '安全设置', '/Account/PasswordEdit', false]">安全设置</a></dd>
                            <hr>
                            <dd style="text-align: center;"><a href="~/Account/Login/Logout">退出</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                        <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                    </li>
                    <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect="">
                        <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                    </li>
                </ul>
            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo">
                        <span>Vino.Core.CMS pro</span>
                    </div>
                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        @await Component.InvokeAsync("HomeMenu");
                    </ul>
                </div>
            </div>

            <!-- 页面标签 -->
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect="">
                            <a href="javascript:;"><span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child layui-anim-fadein layui-anim layui-anim-upbit">
                                <dd layadmin-event="closeThisTabs">
                                    <a href="javascript:;">关闭当前标签页</a>
                                </dd>
                                <dd layadmin-event="closeOtherTabs">
                                    <a href="javascript:;">关闭其它标签页</a>
                                </dd>
                                <dd layadmin-event="closeAllTabs">
                                    <a href="javascript:;">关闭全部标签页</a>
                                </dd>
                                <dd layadmin-event="addFavorite">
                                    <a href="javascript:;">加入收藏夹</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto="" lay-allowclose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    </ul>
                </div>
            </div>

            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body" style="overflow:hidden;">
                <div class="layui-tab" lay-filter="F_index_tab" style="height:100%;margin:0;">
                    <ul class="layui-tab-title" id="J_index_tab_title" style="display:none;">
                    </ul>
                    <div class="layui-tab-content layadmin-tabsbody-item layui-show" style="overflow-y:hidden; padding:0;">
                    </div>
                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>
    <div class="layadmin-note" id="LAY_adminNote" style="display:none;">
        <textarea placeholder="便签内容只保存在本地，请勿保存重要内容"></textarea>
    </div>
    <style>
        .layui-body .layui-tab .layui-tab-content .layui-tab-item,
        .layui-body .layui-tab .layui-tab-content iframe {
            width: 100%;
            border: 0;
            height: 100%
        }

        .layui-side-menu .layui-nav-item i.fa {
            position: absolute;
            top: 50%;
            left: 20px;
            margin-top: -6px;
        }

        .layui-side-menu .layui-nav .layui-nav-item > a {
            padding-top: 0;
            padding-bottom: 0;
        }
    </style>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/jquery.cookie.js"></script>
        <script src="~/lib/layui/layui.all.js"></script>
        <script src="~/js/vino/vino.page.js" asp-append-version="true"></script>
        <script src="~/js/vino/vino.from.js" asp-append-version="true"></script>
        <script src="~/js/vino/vino.ajax.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/jquery.cookie.js"></script>
        <script src="~/lib/layui/layui.all.js"></script>
        <script src="~/js/vino/vino.page.js" asp-append-version="true"></script>
        <script src="~/js/vino/vino.from.js" asp-append-version="true"></script>
        <script src="~/js/vino/vino.ajax.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
