@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>页面已锁定</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
    <div>
        页面已锁定
    </div>
</body>
</html>