@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.Sys.Notice.IndexModel
@{
	//----------------------------------------------------------------
	// Copyright (C) 2018 kulend 版权所有
	//
	// 文件名：Index.cshtml
	// 功能描述：公告 列表页面
	//
	// 创建者：kulend@qq.com
	// 创建时间：2018-05-21 14:58
	//
	//----------------------------------------------------------------
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="tabMian">
            <ul class="layui-tab-title">
                <li lay-id="list" class="layui-this">公告</li>
                <li lay-id="recycles"><i class="layui-icon">&#xe640;</i> 回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action auth-code="system.notice.edit" text="新增" icon="&#xe608;" action="window:/Sys/Notice/Edit" after="grid:reload['#list']" />
                        <action auth-code="system.notice.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:Index/Delete']" after="grid:reload" />
                    </div>
                    <table id="list"></table>
                </div>
                <div class="layui-tab-item">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#recycles']" />
                        <action auth-code="system.notice.restore" text="批量恢复" icon="&#xe65c;" action="batch:['#recycles', 'post:Index/Restore']" after="grid:reload" />
                    </div>
                    <table id="recycles"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script>
    layui.use(['element'], function () {
        var element = layui.element;

        var cols = [
            { field: 'Title', title: '标题', width: 200, templet: '<div>{{# if(d.StickyNum!=0){ }}<span class="layui-badge">置顶</span> {{# } }} {{d.Title}}</div>' },
            { field: 'IsPublished', title: '是否发布', width: 100, switch: true },
            { field: 'PublishedTime', title: '发布时间', width: 180 },
            { field: 'OrderIndex', title: '排序值', width: 80 },
            { field: 'CreateTime', title: '创建时间', width: 170, align: 'center' }
        ];

        $("#list").kuGrid({
            url: 'Index/Data',
            cols: [cols.concat([
                {
                    title: '操作', fixed: 'right', width: 160, align: 'center',
                    toolbar: grid_templet_operate([
                        { code: "system.notice.edit", text: "编辑", action: `window:/Sys/Notice/Edit?id={{d.Id}}`, after:"grid:reload['#list']" },
                        { code: "system.notice.delete", text: "删除", action: `post:Index/Delete?id={{d.Id}}` }
                    ])
                }
            ])],
            onWhere: function () {
                return {
                    IsDeleted: false
                };
            }
        });

        element.on('tab(tabMian)', function () {
            if (this.getAttribute('lay-id') === "recycles" && !$("#recycles").hasClass("ku-grid"))
            { 
                //初始化回收站
                $("#recycles").kuGrid({
                    url: 'Index/Data',
                    cols: [cols.concat([
                        {
                            title: '操作', fixed: 'right', width: 160, align: 'center',
                            toolbar: grid_templet_operate([
                                { code: "system.notice.restore", text: "恢复", action: `post:Index/Restore?id={{d.Id}}` }
                            ])
                        }
                    ])],
                    onWhere: function () {
                        return {
                            IsDeleted: true
                        };
                    }
                });
            }
        });
    });
</script>
}
