@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：微信用户 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3 layui-col-lg2">
            <div class="layui-card">
                <div class="layui-card-header">公众号</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <table id="ID_table_filters" class="layui-table" lay-skin="row">
                            <tbody>
                                @foreach (var account in ViewBag.Accounts)
                                {
                                    <tr><td><input type="checkbox" title="@account.Name" name="name_filter" value="@account.Id" lay-skin="primary" lay-filter="filter-item"></td></tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md9  layui-col-lg10">
            <div class="layui-card">
                <div class="layui-card-header">微信用户列表</div>
                <div class="layui-card-body">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action id="btnSync" auth-code="wechat.user.sync" text="数据同步" action="" after="grid:reload['#list']" />
                    </div>
                    <table id="list"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            form.on('checkbox(filter-item)', function (data) {
                var name = data.elem.getAttribute("name");
                var domArr = document.getElementsByName(name);
                var checked = false;
                for (var i = 0; i < domArr.length; i++) {
                    if (domArr[i] !== data.elem) {
                        if (data.elem.checked) {
                            domArr[i].checked = false;
                        } else if (domArr[i].checked) {
                            checked = true;
                        }
                    }
                }
                data.elem.checked = !checked ? true : data.elem.checked;
                form.render('checkbox');

                filterChanged(data.value);
            });
        });

        var selFilterValue;
        function filterChanged(filterValue) {
            if (!selFilterValue) {
                selFilterValue = filterValue;
                $("#list").vinoGrid({
                    url: 'GetUserList',
                    cols: [[
                        { field: 'OpenId', title: 'OpenId', width: 150 },
                        { field: 'UnionId', title: 'UnionId', width: 150 },
                        { field: 'NickName', title: '昵称', width: 150 },
                        {
                            field: 'Remark', title: '备注名', width: 150,
                            templet: '<div>{{d.Remark}} <i class="layui-icon layui-action" title="修改备注" action="window:/WeChat/WxUser/Remark?id={{d.Id}}">&#xe642;</i></div>'
                        },
                        { field: 'Sex', title: '性别', width: 80, enum: true },
                        { field: 'City', title: '地区', width: 180, templet: '<div>{{d.Country}}{{d.Province}}{{d.City}}</div>' },
                        { field: 'IsSubscribe', title: '是否关注', width: 90, switch: true },
                        { field: 'SubscribeTime', title: '关注时间', width: 150 },
                        {
                            title: '操作', fixed: 'right', width: 120, align: 'center',
                            templet: grid_templet_operate([
                                { code: "wechat.user.view", text: "详情", action: `window:/WeChat/WxUser/Detail?id={{d.Id}}`, css: "layui-btn-primary" }
                            ])
                        }
                    ]],
                    onWhere: function () {
                        return {
                            AccountId: selFilterValue
                        };
                    }
                });
            } else if (selFilterValue != filterValue) {
                selFilterValue = filterValue;
                $("#list").vinoGrid("search");
            }

            $("#btnSync").attr("action", "window:/WeChat/WxUser/UserSync?AccountId=" + selFilterValue);
        }
    </script>
}
