@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.Content.Album.IndexModel
@{
	//----------------------------------------------------------------
	// Copyright (C) 2018 kulend 版权所有
	//
	// 文件名：Index.cshtml
	// 功能描述：专辑 列表页面
	//
	// 创建者：kulend@qq.com
	// 创建时间：2018-12-27 07:48
	//
	//----------------------------------------------------------------
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="tabMian">
            <ul class="layui-tab-title">
                <li lay-id="list" class="layui-this">专辑</li>
                <li lay-id="recycle"><i class="layui-icon">&#xe640;</i> 回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table id="list"></table>
                </div>
                <div class="layui-tab-item">
                    <table id="recycle"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="toolbar-list">
    <div class="layui-btn-container">
        <action title="刷新" action="grid:reload['#list']" />
        <action auth-code="content.album.edit" text="新增" icon="&#xe608;" action="window:/Content/Album/Edit" after="grid:reload['#list']" />
        <action auth-code="content.album.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:Index/Delete']" after="grid:reload" />
    </div>
</script>
<script type="text/html" id="toolbar-recycle">
    <div class="layui-btn-container">
        <action title="刷新" action="grid:reload['#recycle']" />
        <action auth-code="content.album.restore" text="批量恢复" icon="&#xe65c;" action="batch:['#recycle', 'post:Index/Restore']" after="grid:reload" />
    </div>
</script>
@section Scripts
{
<script>
    layui.use(['element'], function () {
        var element = layui.element;

        var cols = [
            { field: 'Title', title: '标题', width: 220 },
            { field: 'IsPublished', title: '是否发布', width: 100, align: 'center', templet: grid_templet_bool("IsPublished") },
            { field: 'Visits', title: '浏览量', width: 80, align: 'center' },
            { field: 'PublishedTime', title: '发布时间', width: 170, align: 'center', hide: true },
            { field: 'CreateTime', title: '创建时间', width: 170, align: 'center', hide: true }
        ];

        $("#list").kuGrid({
            url: 'Index/Data',
			toolbar: '#toolbar-list',
            cols: [cols.concat([
                {
                    title: '操作', fixed: 'right', width: 240, align: 'center',
                    toolbar: grid_templet_operate([
                        { code: "content.album.edit", text: "编辑", action: `window:/Content/Album/Edit?id={{d.Id}}`, after:"grid:reload['#list']" },
                        { code: "content.album.detail", text: "详情", action: `window:/Content/Album/Detail?id={{d.Id}}`, css: "layui-btn-primary" },
                        { code: "content.album.article", text: "内容列表", action: `window:/Content/Album/AlbumArticleList?albumId={{d.Id}}`, css: "layui-btn-primary" },
                        { code: "content.album.delete", text: "删除", action: `post:Index/Delete?id={{d.Id}}` }
                    ])
                }
            ])],
            onWhere: function () {
                return {
                    IsDeleted: false
                };
            }
        });

        element.on('tab(tabMian)', function () {
            if (this.getAttribute('lay-id') === "recycle" && !$("#recycle").hasClass("ku-grid"))
            { 
                //初始化回收站
                $("#recycle").kuGrid({
                    url: 'Index/Data',
					toolbar: '#toolbar-recycle',
                    cols: [cols.concat([
                        {
                            title: '操作', fixed: 'right', width: 160, align: 'center',
                            toolbar: grid_templet_operate([
                                { code: "content.album.detail", text: "详情", action: `window:/Content/Album/Detail?id={{d.Id}}`, css: "layui-btn-primary" },
                                { code: "content.album.restore", text: "恢复", action: `post:Index/Restore?id={{d.Id}}` }
                            ])
                        }
                    ])],
                    onWhere: function () {
                        return {
                            IsDeleted: true
                        };
                    }
                });
            }
        });
    });
</script>
}
