@page
@model Ku.Core.CMS.Web.Backend.Pages.Sys.Area.ProvinceSelectorModel
@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：ProvinceSelector.cshtml
// 功能描述：省份选择器
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Pages/_WindowFormLayout.cshtml";
}
@section Css
    {
    <style>
        #list { margin-left: 20px; }
        #list li { float: left; margin-right: 20px; width: 200px; line-height: 30px; }
    </style>
}
<div class="layui-layout layui-layout-window">
    <div class="layui-body">
        <form class="layui-form" action="">
            <ul id="list"></ul>
        </form>
    </div>
    <div class="layui-footer">
        <span id="sel-tip" style="position:absolute; left:20px;">已选1个</span>
        <span>
            <button class="layui-btn layui-btn-sm" action="javascript:doSelectOk()">确 定</button>
            <action text="取 消" size="sm" theme="warm" action="javascript:closeWindow()" />
        </span>
    </div>
</div>
@section Scripts
    {
    <script>
        var selectedItems = [];
        var selectedItemIds = [];
        layui.use(['form'], function () {
            var form = layui.form;
            var sel = vino.page.querystring.get("sel");
            var dis = vino.page.querystring.get("dis");
            var sels = sel ? sel.split(',') : [];
            var diss = dis ? dis.split(',') : [];
            $.ajax({
                url: '/lib/data_location/list.json',
                method: "get",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    var html = [];
                    for (var code in data) {
                        if (!(code % 1e4)) {
                            var issel = sels.indexOf(code) >= 0;
                            var isdis = diss.indexOf(code) >= 0 && !issel;
                            html.push(`<li><input type="checkbox" name="p" value="${code}" title="${data[code]}" lay-skin="primary" ${issel ? "checked" : ""} ${isdis ? "disabled" : ""}></li>`);
                        }
                    }
                    $("#list").html(html.join(""));
                    form.render();
                },
                complete: function () {
                },
                error: function (xhr, status, errorThrown) {
                    if (xhr.status == 403) {
                        vino.page.msg.alert(`无权操作！`, null, { icon: 5 });
                    } else {
                        vino.page.msg.alert(`调用出错：{${xhr.status}}${status}`, null, { icon: 5 });
                    }
                }
            });
        });


        function doSelectOk() {
            var selItems = []
            $('[name=p]:checkbox:checked').each(function () {
                selItems.push({
                    code: $(this).val(),
                    name: $(this).attr("title")
                });
            });
            closeWindow(selItems);
        }
    </script>
}

