body{margin: 0px; padding:0px; height:100%; font-family:\5FAE\8F6F\96C5\9ED1;}

.topInfoBar {height:34px; border-bottom:1px solid #CCC; background-color:#FFF}
.topInfoBar div {width:1170px; display:block; margin:0px auto; line-height:34px; background:url(../images/icon_phone.png) no-repeat 0px 8px; padding-left:20px;}
.topInfoBar .weixin {background:url(../images/icon_wx.png) no-repeat 0px 1px; padding-left:20px}
.topInfoBar .weibo {background:url(../images/icon_wb.png) no-repeat 0px 1px; padding-left:20px}

.topBar {background-color:#f6f6f6}
.topBar .topBox {height:110px; width:1190px; margin:0px auto;}
.topBar .topBox .searchBarTit {left:280px; font-size:14px; top:18px; width:350px;}
.topBar .topBox .searchBarTit a { cursor:pointer; font-weight:bold}
.topBar .topBox .searchBarInput {left:280px; top:45px; width:550px; height:45px;}
.topBar .topBox .searchBarInput input {width:400px; height:40px; padding-left:10px; line-height:80px;}
.topBar .topBox .searchBarInput button {height:44px; width:120px; line-height:44px; background-color:#c00; color:#FFF; font-size:16px}
.topBar .topBox .searchBarInput .offO {border-top:2px solid #e6e6e6; border-left:2px solid #e6e6e6; border-bottom:2px solid #e6e6e6;}
.topBar .topBox .searchBarInput .onO {border-top:2px solid #c00; border-left:2px solid #c00; border-bottom:2px solid #c00;}
.topBar .logo {background:url(../images/logo.png); height:105px; width:250px; display:block;}
.topBar .topBox .button {left:832px; top:45px;}
.topBar .topBox .button button {border-radius:5px; width:120px; height:44px; border:1px solid #CCC; background-color:#fff}
.topBar .topBox .code {height:80px; border-left:1px solid #CCC; width:95px; right:0px; top:15px;}
.topBar .mainMenu {height:40px; background-color:#c00; width:1185px; padding-left:5px; padding-top:5px; border-radius:5px 5px 0px 0px; margin:0px auto;}
.topBar .mainMenu a:hover { color:#fff;background-color:#FFF; border-radius:3px 3px 0px 0px; color:#333;}
.topBar .mainMenu .on {background-color:#FFF; border-radius:3px 3px 0px 0px; color:#333;}
.topBar .mainMenu a {width:113px; height:40px; display:block; text-align:center; line-height:40px; font-size:16px; float:left; color:#FFF; margin-right:5px; font-weight:bold;}

.moreMenu {width:1190px; margin:10px auto 0px auto; padding-bottom:10px;}
.moreMenu .menuBox {width:298px; float:left; height:70px; border-bottom:2px solid #C00;}
.moreMenu .menuBox .tits {width:80px; height:48px; border-radius:5px; background-color:#e6e6e6; text-align:center; line-height:15px; padding-top:12px;}
.moreMenu .menuBox .titsEn {transform:scale(0.8,0.8); display:block;}
.moreMenu .menuBox .tits p {width:20px; height:3px; background-color:#C00; margin:2px auto 0px auto;}
.moreMenu .menuList { margin-left:10px; width:200px;}
.moreMenu .menuList a { display:block; text-align:center; width:100px; float:left; line-height:30px; font-size:16px} 

.prt_market {width:1190px; height:300px; margin:0px auto 20px auto;}
.prt_newsList {width:1190px; height:270px; margin:0px auto 20px auto;}
.prt_leftBox {width:910px;}
.prt_tit {border-bottom:2px solid #C00; height:35px;}
.prt_listBox {width:455px; padding-top:12px;}
.prt_list a {height:35px; line-height:35px; display:block; font-size:16px}
.prt_rightAds {width:270px; height:270px;}
.prt_rightAds_link {height:130px;}
.qiVideo {width:268px; height:298px; border:1px solid #c00;}
.qiVideo .links {width:248px; display:block; padding:8px 10px 0px 10px;}

.hotNews {font-size:16px; line-height:30px; background-color:#f9f9f9;}
.hotNews a { display:block; line-height:35px; border-bottom:1px dotted #CCC; background:url(../images/news.png) no-repeat 5px 6px; padding-left:35px;}

.topNews {width:1190px; margin:0px auto 20px auto; height:400px;}
.topNewsPlayer {width:400px; height:400px;}
.topNewsPlayerBox {width:400px; height:250px;}
.topnewsPlayerAd {width:400px; height:140px; background-color:#03F; margin-top:10px;}
.topNewsTit {width:480px; height:400px; margin-left:20px;}
.topNewsTitNew {border-bottom:1px solid #CCC; height:150px;}
.topNewsLink {height:32px; line-height:32px; font-size:14px; border-bottom:1px dotted #C00;}
.topNewsLink a {display:block; width:240px;}

.topQi {width:268px; height:398px; margin-left:20px; border:1px solid #c00;}
.topQiTit {line-height:30px; background-color:#ffebda; padding-left:5px; font-weight:bold}
.topQiBox {height:368px; overflow:hidden;}
.topQo_jp {background:url(../images/jpqi.png) 115px 55px no-repeat;}  /*金牌*/
#qiPlayer {position:absolute;}
#qiPlayer a {height:91px; width:268px; display:block; border-bottom:1px dotted #CCC;}
#qiPlayer div {padding-top:9px; height:82px;}
#qiPlayer p {width:100px; height:75px; background-color:#000; margin:0px 10px 0px 7px}

.hotLinks {width:1190px; margin-top:1px; margin:0px auto;}
.hotLinks_list { padding:20px 0px;}
.hotLinks_list a {line-height:30px; font-size:16px;}

.foot {background-color:#333; height:280px;}
.footBox {width:1190px; margin-top:1px; height:280px; margin:10px auto 0px auto;}
.footTp {top:40px;}
.footLinBox {left:280px;}
.footLink {border-bottom:1px solid #666; height:40px;}
.footInfo {border-bottom:1px solid #666; height:90px;}

i {position:absolute; left:3px; bottom:3px; width:26px; height:13px; margin-top:10px; background-image:url(../images/icon_tg.gif);}
.ad_htl {width:1190px; margin:0px auto 20px auto; display:block;}