@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.DataCenter.PageViewRecord.IndexModel
@{
	//----------------------------------------------------------------
	// Copyright (C) 2018 kulend 版权所有
	//
	// 文件名：Index.cshtml
	// 功能描述：页面浏览记录 列表页面
	//
	// 创建者：kulend@qq.com
	// 创建时间：2018-08-28 10:37
	//
	//----------------------------------------------------------------
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="list"></table>
        </div>
    </div>
</div>
<script type="text/html" id="toolbar-list">
    <div class="layui-btn-container">
        <action title="刷新" action="grid:reload['#list']" />
    </div>
</script>
@section Scripts
{
    <script>
        $(function () {
            $("#list").kuGrid({
                url: 'Index/Data',
                toolbar: '#toolbar-list',
                cols: [[
                    { field: 'PageName', title: '页面名称', width: 100 },
                    { field: 'Url', title: '页面地址', width: 200 },
                    { field: 'ClientIp', title: '客户端IP', width: 150, align: 'center' },
                    { field: 'CreateTime', title: '访问时间', width: 170, align: 'center'},
                    {
                        title: '操作', fixed: 'right', width: 160, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "datacenter.pageviewrecord.detail", text: "详情", action: `window:/DataCenter/PageViewRecord/Detail?id={{d.Id}}`, css: "layui-btn-primary" }
                        ])
                    }
                ]]
            });
        });
    </script>
}
