@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.DataCenter.PageViewRecord.IndexModel
@{
	//----------------------------------------------------------------
	// Copyright (C) 2018 kulend 版权所有
	//
	// 文件名：Index.cshtml
	// 功能描述：页面浏览记录 列表页面
	//
	// 创建者：kulend@qq.com
	// 创建时间：2018-08-28 10:37
	//
	//----------------------------------------------------------------
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">页面浏览记录</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action title="刷新" action="grid:reload['#list']" />
                <action auth-code="datacenter.pageviewrecord.edit" text="新增" icon="&#xe608;" action="window:/DataCenter/PageViewRecord/Edit" after="grid:reload['#list']" />
                <action auth-code="datacenter.pageviewrecord.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:Index/Delete']" after="grid:reload" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").kuGrid({
                url: 'Index/Data',
                cols: [[
                    { field: 'CreateTime', title: '创建时间', width: 170, align: 'center'},
                    {
                        title: '操作', fixed: 'right', width: 160, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "datacenter.pageviewrecord.edit", text: "编辑", action: `window:/DataCenter/PageViewRecord/Edit?id={{d.Id}}`, after:"grid:reload['#list']" },
                            { code: "datacenter.pageviewrecord.delete", text: "删除", action: `post:Index/Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
