@page "{handler?}"
@model SelectorModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 kulend 版权所有
    //
    // 文件名：Selector.cshtml
    // 功能描述：素材分组 选择页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-05-16 10:45
    //
    //----------------------------------------------------------------
}
@{
    Layout = "_WindowListLayout";
}
<div class="layui-layout layui-layout-window">
    <div class="layui-body">
        <div class="toolbar">
            <action title="刷新" action="grid:reload['#list']" />
            <action auth-code="materialcenter.usermaterialgroup.edit" text="新增" icon="&#xe608;" action="window:/MaterialCenter/UserMaterialGroup/Edit?type=@Model.Type" after="grid:reload['#list']" />
        </div>
        <table id="list" lay-filter="list"></table>
    </div>
    <div class="layui-footer">
        <span id="sel-tip" style="position:absolute; left:20px;">已选1个，可选10个</span>
        <span>
            <button class="layui-btn layui-btn-sm" action="javascript:doSelectOk()">确 定</button>
            <action text="取 消" css="layui-btn-warm" action="javascript:closeWindow()" />
        </span>
    </div>
</div>
@section Scripts
    {
    <script>
        layui.use(['table'], function () {
            var table = layui.table;
            $("#list").kuGrid({
                url: 'Selector/Data',
                page: false,
                cols: [[
                    { field: 'Name', title: '分组名称', width: '70%' },
                    {
                        title: '操作', fixed: 'right', width: '20%' , align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "materialcenter.usermaterialgroup.edit", text: "编辑", action: `window:/MaterialCenter/UserMaterialGroup/Edit?id={{d.Id}}`, after: "grid:reload['#list']" },
                            { code: "materialcenter.usermaterialgroup.delete", text: "删除", action: `post:Index/Delete?id={{d.Id}}` }
                        ])
                    }
                ]],
                onWhere: function () {
                    return {
                        Type: '@Model.Type'
                    };
                }
            });

            table.on('checkbox(list)', function (obj) {
                showSelTip();
            });

            showSelTip();
        });

        function doSelectOk() {
            var checkStatus = layui.table.checkStatus('list');
            //if (checkStatus.data.length === 0) {
            //    ku.page.msg.tip(`请至少选择一条数据！`);
            //    return;
            //}
            var sels = [];
            for (var i = 0; i < checkStatus.data.length; i++) {
                sels.push({
                    id: checkStatus.data[i].Id,
                    name: checkStatus.data[i].Name
                });
            }
            closeWindow(sels);
        }

        function showSelTip() {
            var checkStatus = layui.table.checkStatus('list');
            var max = ku.page.querystring.get("max") || 999;
            $("#sel-tip").text(`已选${checkStatus.data.length}个，可选${max}个`);
        }
    </script>
}
