@page
@model Ku.Core.CMS.Web.Backend.Pages.WeChat.WxUser.UserSyncModel
@{
    Layout = "~/Pages/_WindowFormLayout.cshtml";
}
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<UserSyncModel>())
    {
        <div class="layui-body">
            @Html.InputFor(x => x.Account.Id)
            <div class="layui-form-item">
                <label class="layui-form-label">所属公众号</label>
                <div class="layui-input-block">
                    <label class="layui-form-label-show">@Model.Account.Name</label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据同步</label>
                <div class="layui-input-block">
                    <label class="layui-form-label-show">需同步用户标签数据和用户数据</label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">进度</label>
                <div class="layui-input-block">
                    <div class="layui-progress">
                        <div class="layui-progress-bar" lay-percent="10%"></div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm" lay-submit>开始同步</button>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            <action text="取 消" size="sm" theme="warm" action="javascript:closeWindow()" />
        </div>
    }
</div>
@section Scripts
    {
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
        });
    </script>
}