@page
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 ku 版权所有
    //
    // 文件名：PasswordEdit.cshtml
    // 功能描述：修改密码页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-02-04 20:18
    //
    //----------------------------------------------------------------
}
@model Ku.Core.CMS.Web.Backend.Pages.Account.PasswordEditModel
@{
    Layout = "_FormLayout";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body">
            @using (Html.BeginForm<PasswordEditModel>(""))
            {
                @Html.AntiForgeryToken()
                @Html.InputFor(x => x.CurrentPassword)
                @Html.InputFor(x => x.NewPassword)
                @Html.InputFor(x => x.ConfirmPassword)
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <action auth-code="" text="确认修改" lay-submit="" css="layui-btn-default" type="submit" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

