<li class="layui-nav-item">
    <a href="javascript:;">
        <i class="fa fa-cogs"></i><cite>系统管理</cite>
        <span class="layui-nav-more"></span>
    </a>
    <dl class="layui-nav-child">
        <dd data-url="/Menu/Index" data-id="1">
            <a href="javascript:;">菜单管理</a>
        </dd>
    </dl>
</li>