<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" asp-append-version="true" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/css.css" type="text/css">
        <link rel="stylesheet" href="~/css/main.css" type="text/css">
    </environment>
    <environment exclude="Staging,Production">
        <link rel="stylesheet" href="~/css/css.css" type="text/css">
        <link rel="stylesheet" href="~/css/main.css" type="text/css">
    </environment>
</head>
<body>
    <!--顶部信息栏-->
    <div class="topInfoBar">
        <div>
            <a class="fwb" come-soon href="javascript:;">手机站点</a> <span class="jg">|</span> <span class="fc_666">欢迎进入柴达木枸杞网！</span>
            <span class="fr">
                <a href="/">首页</a>
                <span class="jg">|</span>
                <a href="javascript:;" class="weibo">关注我们</a> <span class="jg">|</span>
                <a href="javascript:;" class="weixin action-show-wxqrcode">微信公众号</a> <span class="jg">|</span>
                <span class="b"><a href="/Account/Login" class="fwb">平台登陆</a></span>
                <span class="jg">|</span> <span class="b">
                    <a href="/Account/Register" class="fwb">平台注册</a>
                </span>
                <span class="jg">|</span>
                <a come-soon href="javascript:;">柴达木枸杞协会</a>
            </span>
        </div>
    </div>

    <!--顶部logo菜单-->
    <div class="topBar">
        <div class="topBox pr">
            <!--logo-->
            <a href="/" class="logo"></a>

            <!--搜索框-->
            <div class="pa searchBarTit fc_666"><a class="fc_r" onClick="searchType(1)" id="mu_1">资讯</a> <span class="jg">|</span> <a id="mu_2" onClick="searchType(2)">采购</a> <span class="jg">|</span> <a id="mu_3" onClick="searchType(3)">供应</a> <span class="jg">|</span> <a id="mu_4" onClick="searchType(4)">企业</a> <span class="jg">|</span> <a id="mu_5" onClick="searchType(5)">行情</a></div>
            <div class="pa searchBarInput"><input type="text" id="keyWords" class="offO fl ffm fc_666" /><button class="fl ffm cur" />搜 索</button></div>

            <div class="pa button"><button class="ffm">快速发布求购</button><button class="ffm ml5">快速发布求购</button></div>

            <!--二维码-->
            <div class="pa tr code"><img width="80" src="~/images/2code.jpg" /></div>
        </div>

        <!--主菜单-->
        <div class="mainMenu">
            <a href="#" class="on">首页</a>
            <a href="#">市场行情</a>
            <a href="#">电商平台</a>
            <a href="#">供求信息</a>
            <a href="#">行业资讯</a>
            <a href="#">指数发布</a>
            <a href="#">农机化肥</a>
            <a href="#">企业展示</a>
            <a href="#">专家库</a>
            <a href="#">技术推广</a>
            <br class="cl" />
        </div>
    </div>

    <!--广告-->
    <a href="#" class="pr ad_htl"><img src="~/images/ads.jpg" /><i></i></a>

    <!--菜单-->
    <partial name="_MainMenuPartial" />

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/layui/layui.all.js" asp-append-version="true"></script>
    <script src="~/js/ku/ku.page.js" asp-append-version="true"></script>
    <script src="~/js/ku/ku.ajax.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {

        });
    </script>
</body>
</html>
