<!--更多菜单-->
<div class="moreMenu">
    <div class="menuBox">
        <div class="pr tits fl">
            <span class="fs20">资讯</span><br />
            <span class="ffa titsEn fc_666">NEWS</span>
            <p></p>
        </div>

        <div class="fl menuList">
            <a href="#">市场动态</a>
            <a href="#">政策法规</a>
            <a href="#">人物访谈</a>
            <a href="#">专场发布</a>
        </div>
        <br class="cl" />
    </div>

    <!--更多菜单-->
    <div class="menuBox">
        <div class="pr tits fl">
            <span class="fs20">数据</span><br />
            <span class="ffa titsEn fc_666">DATAS</span>
            <p></p>
        </div>

        <div class="fl menuList">
            <a href="#">市场数据</a>
            <a href="#">销售数据</a>
            <a href="#">地域数据</a>
            <a href="#">外贸数据</a>
        </div>
        <br class="cl" />
    </div>

    <!--更多菜单-->
    <div class="menuBox">
        <div class="pr tits fl">
            <span class="fs20">服务</span><br />
            <span class="ffa titsEn fc_666">SERVICE</span>
            <p></p>
        </div>

        <div class="fl menuList">
            <a href="#">电子商务</a>
            <a href="#">产品追溯</a>
            <a href="#">业务培训</a>
            <a href="#">市场行情</a>
        </div>
        <br class="cl" />
    </div>

    <!--更多菜单-->
    <div class="menuBox" style="width:296px;">
        <div class="pr tits fl">
            <span class="fs20">认证</span><br />
            <span class="ffa titsEn fc_666">APPRAISAL</span>
            <p></p>
        </div>

        <div class="fl menuList">
            <a href="#">人才认证</a>
            <a href="#">企业认证</a>
            <a href="#">地域标识</a>
            <a href="#">产品认证</a>
        </div>
        <br class="cl" />
    </div>

    <br class="cl" />
</div>