@{
//----------------------------------------------------------------
// Copyright (C) 2018 ku 版权所有
//
// 文件名：RecordList.cshtml
// 功能描述：会员积分记录 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-04-20 16:15
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_WindowListLayout.cshtml";
}
<div class="layui-layout layui-layout-window">
    <div class="layui-body">
        <div class="toolbar">
            <action title="刷新" action="grid:reload['#list']" />
        </div>
        <table id="list"></table>
    </div>
</div>
@section Scripts
    {
<script>
        $(function () {
            $("#list").kuGrid({
                url: 'GetRecordList',
                cols: [[
                    { field: 'CreateTime', title: '创建时间', width: 170, align: 'center'},
                    {
                        title: '操作', fixed: 'right', width: 100, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "", text: "详情", action: `window:/Membership/MemberPoint/RecordDetail?id={{d.Id}}`, css: "layui-btn-primary"}
                        ])
                    }
                ]],
                onWhere: function () {
                    return {
                        MemberPointId: @ViewData["MemberPointId"]
                    };
                }
            });
        });
</script>
}
