.layui-input-inline.long {
    width: 400px;
}

.layui-input-inline.short {
    width: 120px;
}

.layui-input-inline.middle {
    width: 200px;
}

.layui-input-inline.num {
    width: 100px;
}
.layui-form-label {
    width: 110px;
}

.layui-textarea {
    width: 400px;
    min-height: 75px;
}

.layui-elem-quote.low {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 13px;
}

.layui-elem-field legend.sub {
    font-size: 17px;
}

.menu-open-tree {
    cursor: pointer;
}

.menu-tree-nbsp {
    margin-left: 20px;
}

.layui-form-label-show {
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    text-align: left;
    color:#808080;
}

.image-upload{overflow:hidden;}
.image-upload li{float:left;margin:0 10px 0 0;overflow:hidden;}
.image-upload li .pic-box{width:88px;height:88px;border:1px solid #dedede;position:relative;cursor:pointer;}
.image-upload li img{width:80px;height:80px;padding:4px;}
.image-upload li .pic-remove{width:88px;display:none;height:22px;text-align:center;line-height:22px;color:#e60000;background:#ffeded;position:absolute;left:0;bottom:0;}
.image-upload li .pic-box:hover .pic-remove{display:block;}
.image-upload li .link-btn{display:block;text-align:center;color:#666;height:25px;line-height:25px;text-decoration:none;}