@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="toolbar">
        <action text="添加" size="small" icon="&#xe608;" action="window:System/User/Edit" after="gridReload()"/>
        <action text="刷新" size="small" icon="&#x1002;" action="javascript:gridReload()" />
    </div>
    <table id="list">
    </table>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Account', fixed: 'left', title: '账户', width: 100 },
                    { field: 'Name', title: '名称', width: 100 }
                ]]
            });
        });
    </script>
}
