@page
@model Ku.Core.CMS.Web.Backend.Pages.UserCenter.UserPoint.EditModel
@{
//----------------------------------------------------------------
// Copyright (C) 2018 kulend 版权所有
//
// 文件名：Edit.cshtml
// 功能描述：用户积分 编辑页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-06-23 10:50
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Pages/_WindowFormLayout.cshtml";
}
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<EditModel>(""))
    {
        <div class="layui-body">
            @Html.InputFor(x => x.Dto.Id)
        </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
        });
    </script>
}
