@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.UserCenter.UserPoint.IndexModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 kulend 版权所有
    //
    // 文件名：Index.cshtml
    // 功能描述：用户积分 列表页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-06-23 10:50
    //
    //----------------------------------------------------------------
}
@using Ku.Core.CMS.Domain.Enum.UserCenter
@using Ku.Core.Infrastructure.Extensions
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3 layui-col-lg2">
            <div class="layui-card">
                <div class="layui-card-header">积分类型</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <table id="ID_table_filters" class="layui-table" lay-skin="row">
                            <tbody>
                                @foreach (var item in typeof(EmUserPointType).GetEnumInfos())
                                {
                                    <tr><td><input type="checkbox" title="@item.name" name="name_filter" value="@item.value" lay-skin="primary" lay-filter="filter-item"></td></tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md9  layui-col-lg10">
            <div class="layui-card">
                <div class="layui-card-header">用户积分</div>
                <div class="layui-card-body">
                    <div class="toolbar">
                        <action title="刷新" action="grid:reload['#list']" />
                        <action id="btnAdjust" auth-code="usercenter.user.point.adjust" text="调整" icon="&#xe608;" action="" after="grid:reload['#list']" />
                    </div>
                    <table id="list"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        layui.use(['form'], function () {
            var form = layui.form;

            form.on('checkbox(filter-item)', function (data) {
                var name = data.elem.getAttribute("name");
                var domArr = document.getElementsByName(name);
                var checked = false;
                for (var i = 0; i < domArr.length; i++) {
                    if (domArr[i] !== data.elem) {
                        if (data.elem.checked) {
                            domArr[i].checked = false;
                        } else if (domArr[i].checked) {
                            checked = true;
                        }
                    }
                }
                data.elem.checked = !checked ? true : data.elem.checked;
                form.render('checkbox');

                filterChanged(data.value);
            });
        });

        var selFilterValue;
        function filterChanged(filterValue) {
            if (!selFilterValue) {
                selFilterValue = filterValue;
                $("#list").kuGrid({
                    url: 'Index/Data',
                    cols: [[
                        { field: 'UserId', title: '会员昵称', width: 160, templet: '<div>{{d.User.NickName}}</div>' },
                        { field: 'Points', title: '总积分', width: 100 },
                        { field: 'UsablePoints', title: '可用积分', width: 100 },
                        { field: 'ExpiredPoints', title: '过期积分', width: 100 },
                        { field: 'UsedPoints', title: '已用积分', width: 100 },
                        {
                            title: '操作', fixed: 'right', width: 165, align: 'center',
                            templet: grid_templet_operate([
                                { code: "membership.member.point.adjust", text: "调整", action: `window:/Membership/MemberPoint/Adjust?id={{d.Id}}` },
                                { code: "membership.member.point.record.view", text: "记录", action: `window:/Membership/MemberPoint/RecordList?id={{d.Id}}`, css: "layui-btn-primary" }
                            ])
                        }
                    ]],
                    onWhere: function () {
                        return {
                            Type: selFilterValue
                        };
                    }
                });
            } else if (selFilterValue != filterValue) {
                selFilterValue = filterValue;
                $("#list").kuGrid("search");
            }

            $("#btnAdjust").attr("action", "window:/UserCenter/UserPoint/Adjust?type=" + selFilterValue);
        }
    </script>
}
