@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：角色 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="tabMian">
            <ul class="layui-tab-title">
                <li lay-id="list" class="layui-this">角色列表</li>
                <li lay-id="recycles"><i class="layui-icon">&#xe640;</i> 回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action auth-code="system.role.edit" text="新增" icon="&#xe608;" action="window:/System/Role/Edit" after="grid:reload['#list']" />
                        <action auth-code="system.role.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:Delete']" after="grid:reload" />
                    </div>
                    <table id="list"></table>
                </div>
                <div class="layui-tab-item">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#recycles']" />
                        <action auth-code="system.role.restore" text="批量恢复" icon="&#xe65c;" action="batch:['#recycles', 'post:Restore']" after="grid:reload" />
                    </div>
                    <table id="recycles"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script>
    layui.use(['element'], function () {
        var element = layui.element;

        var cols = [
            { field: 'Name', fixed: 'left', title: '名称', width: 100 },
            { field: 'NameEn', title: '英文名', width: 140 },
            { field: 'IsEnable', title: '是否启用', width: 100, align: 'center', templet: grid_templet_bool("IsEnable")}
        ];

        $("#list").vinoGrid({
            url: 'GetList',
            cols: [cols.concat([
                {
                    title: '操作', fixed: 'right', width: 175, align: 'center',
                    toolbar: grid_templet_operate([
                        { code: "system.role.function", text: "权限分配", action: `window:/System/Role/RoleFunction?RoleId={{d.Id}}`, css: "layui-btn-primary" },
                        { code: "system.role.edit", text: "编辑", action: `window:/System/Role/Edit?id={{d.Id}}`, after:"grid:reload['#list']" },
                        { code: "system.role.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                    ])
                }
            ])],
            onWhere: function () {
                return {
                    IsDeleted: false
                };
            }
        });

        element.on('tab(tabMian)', function () {
            if (this.getAttribute('lay-id') === "recycles" && !$("#recycles").hasClass("vino-grid"))
            { 
                //初始化回收站
                $("#recycles").vinoGrid({
                    url: 'GetList',
                    cols: [cols.concat([
                        {
                            title: '操作', fixed: 'right', width: 160, align: 'center',
                            toolbar: grid_templet_operate([
                                { code: "system.role.restore", text: "恢复", action: `post:Restore?id={{d.Id}}` }
                            ])
                        }
                    ])],
                    onWhere: function () {
                        return {
                            IsDeleted: true
                        };
                    }
                });
            }
        });
    });
</script>
}
