@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：角色 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">角色列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action auth-code="system.role.edit" text="添加" size="sm" icon="&#xe608;" action="window:/System/Role/Edit" after="gridReload()" />
                <action text="刷新" size="sm" icon="&#x1002;" action="javascript:gridReload()" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
            $(function () {
                $("#list").vinoGrid({
                    url: 'GetList',
                    cols: [[
                        { field: 'Name', fixed: 'left', title: '名称', width: 100 },
                        { field: 'NameEn', title: '英文名', width: 140 },
                        { field: 'IsEnable', title: '是否启用', width: 100, align: 'center', templet: grid_templet_bool("IsEnable")},
                        {
                            title: '操作', fixed: 'right', width: 165, align: 'center',
                            templet: grid_templet_operate([
                                { code: "sys.role.function", title: "权限分配", action: `window:/System/Role/RoleFunction?RoleId={{d.Id}}`, css: "layui-btn-primary" },
                                { code: "sys.role.edit", title: "编辑", action: `window:/System/Role/Edit?id={{d.Id}}` },
                                { code: "sys.role.delete", title: "删除", action: `post:Delete?id={{d.Id}}` }
                            ])
                        }
                    ]]
                });
            });
    </script>
}
