@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
<div class="window-content">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <table class="layui-table tree-table" lay-skin="line">
                <colgroup>
                    <col>
                    <col width="150">
                    <col width="100">
                </colgroup>
                <tbody id="list">
                </tbody>
            </table>
        </div>
    </form>
</div>
<script id="tp:list-item" type="text/html">
    {{each items value i}}
    <tr data-id="{{value.Id}}" data-parentid="{{value.ParentId}}">
        <td class="menu-open-tree" data-sub="{{value.HasSub}}" title="展开子项">
            <% for(var i = 1; i < value.Level; i++){ %>
            <span class="menu-tree-nbsp"></span>
            <% } %>
            {{if value.HasSub}}
            <i class="layui-icon open">&#xe623;</i>
            {{else}}
            <span class="menu-tree-nbsp"></span>
            {{/if}}
            {{value.Name}}
        </td>
        <td>
            {{value.AuthCode}}
        </td>
        <td>
            {{if value.IsRoleHasAuth}}
            <input type="checkbox" lay-filter="auth" title="权限" checked="checked" value="{{value.Id}}">
            {{else}}
            <input type="checkbox" lay-filter="auth" title="权限" value="{{value.Id}}">
            {{/if}}
        </td>
    </tr>
    {{/each}}
</script>
@section Scripts
{
    <script src="~/lib/artTemplate/template-web.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var $ = layui.jquery, layer = layui.layer;
            var form = layui.form();

            //监听
            form.on('checkbox(auth)', function(data){
                var checked = data.elem.checked;
                var functionId = data.value;
                //调用接口保存
                vino.ajax.post("SaveRoleAuth", { RoleId:@ViewData["RoleId"], FunctionId: functionId, HasAuth: checked}, function(reply) {
                    
                });
            });  

            vino.ajax.get("GetFunctionsWithRoleAuth",{RoleId:@ViewData["RoleId"]},
                function (data) {
                    var html = template('tp:list-item', { items: data.data });
                    $("#list").html(html);
                    form.render();
                });

            var _showSubMenus = function($row) {
                var id = $row.data('id');
                var $subs = $("#list tr[data-parentid='" + id + "']");
                if ($row.attr("data-sub-show") == "1") {
                    //隐藏
                    $subs.hide();
                    $row.attr("data-sub-show", "0");
                    $row.find(".layui-icon.open").html('&#xe623;');
                } else {
                    if ($row.attr("data-sub-loaded") == "1") {
                        $subs.show();
                        $row.attr("data-sub-show", "1");
                        $row.find(".layui-icon.open").html('&#xe625;');
                    } else {
                        vino.ajax.get("GetFunctionsWithRoleAuth", { RoleId:@ViewData["RoleId"], pid: id },
                            function (data) {
                                var html = template('tp:list-item', { items: data.data });
                                $row.after(html);
                                $row.attr("data-sub-loaded", "1");
                                $row.attr("data-sub-show", "1");
                                $row.find(".layui-icon.open").html('&#xe625;');
                                form.render();
                            });
                    }
                }
            }

            // 展开子菜单
            $('#list').on('click', '.menu-open-tree[data-sub="true"]', function () {
                _showSubMenus($(this).parent());
            });
        });
    </script>
}
