@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="toolbar">
        <action auth-code="membership.member.edit" text="添加" size="small" icon="&#xe608;" action="window:Membership/Member/Edit" after="gridReload()"/>
        <action text="刷新" size="small" icon="&#x1002;" action="javascript:gridReload()" />
    </div>
    <table id="list">
    </table>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Name', title: '姓名', width: 150 },
                    { field: 'Mobile', title: '手机', width: 130 },
                    { field: 'MemberType.Name', title: '会员类型', width: 130 },
                    { field: 'Points', title: '积分', width: 70 },
                    { field: 'Level', title: '等级', width: 70 },
                    { field: 'IsEnable', title: '是否可用', width: 100, align: 'center', templet: grid_templet_bool("IsEnable") },
                    { field: 'CreateTime', title: '创建时间', width: 160 },
                    { field: 'LastLoginTime', title: '登陆时间', width: 160 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "membership.member.edit", title: "编辑", action: `window:Membership/Member/Edit?id={{d.Id}}` },
                            { code: "membership.member.delete", title: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
