@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.Membership
@model MemberTypeDto
<div class="window-content">
    @using (Html.BeginForm<MemberTypeDto>("TypeSave"))
    {
        @Html.InputFor(x => x.Id)
        @Html.InputFor(x => x.Name)
        @Html.InputFor(x => x.OrderIndex)
        @Html.ActionsForSubmitAndClose()
    }
</div>