@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.Membership
@model MemberTypeDto
<div class="window-content">
    @using (Html.LayuiBeginForm<MemberTypeDto>("TypeSave"))
    {
        @Html.LayuiHiddenFor(x => x.Id)
        @Html.LayuiTextBoxFor(x => x.Name)
        @Html.LayuiTextBoxFor(x => x.OrderIndex)
        @Html.LayuiFormSubmitAndClose()
    }
</div>