@{
    Layout = "~/Views/Shared/_WindowListLayout.cshtml";
}
<div class="window-content">
    <div class="toolbar">
        <action text="添加" size="small" icon="&#xe608;" action="window:System/FunctionModule/EditAction?moduleId=@ViewData["ModuleId"]"/>
        <action text="刷新" size="small" icon="&#x1002;" action="javascript:gridReload()"/>
    </div>
    <table id="list">
    </table>
    <div id="pager"></div>
</div>
@section Scripts
{
    <script>
        layui.use(['layer'], function() {
            var $ = layui.jquery, layer = layui.layer;

        });

        $(function() {
            $("#list").vinoGrid({
                url: 'GetActionList?moduleId=@ViewData["ModuleId"]',
                colModel: [
                    { label: '名称', name: 'Name', width: 75 },
                    { label: '代码', name: 'Code', width: 100 },
                    {
                        label: '操作', name: 'Id', width: 100,
                        formatter: function (value, options, row) {
                            var html = '<div class="layui-btn-group">';
                            html += '<button title="编辑" class="layui-btn layui-btn-mini" action="window:System/FunctionModule/EditAction?id=' + row.Id + '">编辑</button>';
                            html += '<button title="删除" class="layui-btn layui-btn-mini layui-btn-danger" action="post:DeleteAction?id=' + row.Id + '">删除</button>';
                            html += '</div>';
                            return html;
                        }
                    }
                ],
                pager: "#pager"
            });
        });
    </script>
}
