@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：微信二维码 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3 layui-col-lg2">
            <div class="layui-card">
                <div class="layui-card-header">公众号</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <table id="ID_table_filters" class="layui-table" lay-skin="row">
                            <tbody>
                                @foreach (var account in ViewBag.Accounts)
                                {
                                    <tr><td><input type="checkbox" title="@account.Name" name="name_filter" value="@account.Id" lay-skin="primary" lay-filter="filter-item"></td></tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md9  layui-col-lg10">
            <div class="layui-card">
                <div class="layui-card-header">微信二维码</div>
                <div class="layui-card-body">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action id="btnAdd" auth-code="wechat.qrcode.edit" text="新增" icon="&#xe608;" action="" after="grid:reload['#list']" />
                    </div>
                    <table id="list"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            form.on('checkbox(filter-item)', function (data) {
                var name = data.elem.getAttribute("name");
                var domArr = document.getElementsByName(name);
                var checked = false;
                for (var i = 0; i < domArr.length; i++) {
                    if (domArr[i] !== data.elem) {
                        if (data.elem.checked) {
                            domArr[i].checked = false;
                        } else if (domArr[i].checked) {
                            checked = true;
                        }
                    }
                }
                data.elem.checked = !checked ? true : data.elem.checked;
                form.render('checkbox');

                filterChanged(data.value);
            });
        });

        var selFilterValue;
        function filterChanged(filterValue) {
            if (!selFilterValue) {
                selFilterValue = filterValue;
                $("#list").vinoGrid({
                    url: 'GetList',
                    cols: [[
                        { field: 'SceneId', title: '场景ID', width: 120 },
                        { field: 'SceneType', title: '场景类型', width: 100, enum: true },
                        { field: 'PeriodType', title: '时效类型', width: 100, enum: true },
                        { field: 'EventKey', title: '事件', width: 120 },
                        { field: 'Purpose', title: '用途', width: 150 },
                        { field: 'ScanCount', title: '扫描次数', width: 90 },
                        { field: 'Ticket', title: 'Ticket', width: 150 },
                        { field: 'Url', title: 'Url', width: 150 },
                        {
                            title: '操作', fixed: 'right', width: 165, align: 'center',
                            templet: grid_templet_operate([
                                { code: "wechat.qrcode.edit", text: "编辑", action: `window:WeChat/WxQrcode/Edit?id={{d.Id}}` },
                                { code: "", text: "下载", action: `javascript:openDownDialog('{{d.Ticket}}')` },
                                { code: "wechat.qrcode.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                            ])
                        }
                    ]],
                    onWhere: function () {
                        return {
                            AccountId: selFilterValue
                        };
                    }
                });
            } else if (selFilterValue != filterValue) {
                selFilterValue = filterValue;
                $("#list").vinoGrid("search");
            }

            $("#btnAdd").attr("action", "window:/WeChat/WxQrcode/Edit?AccountId=" + selFilterValue);
        }

        function openDownDialog(ticket)
        { 
            var url = 'https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=' + encodeURI(ticket);
            vino.page.openWindow({
                type: 2,
                title: '下载二维码',
                shadeClose: true,
                shade: 0.8,
                area: ['430px', '475px'],
                content: url
            });
        }
    </script>
}
