@page
@model Ku.Core.CMS.Frontend.PcSite.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm(FormMethod.Post, new { id = "loginForm", @class = "layui-form" }))
{
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="mobile" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">辅助文字</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即登陆</button>
        </div>
    </div>
}
@section Scripts
    {
    <script src="~/js/ku/ku.from.js" asp-append-version="true"></script>
    <script src="~/js/ku/ku.form.verify.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var options = $.extend({}, {
                onSuccess: function (reply, options) {
                    if (reply.code == 0) { 
                        ku.page.msg.tip("登陆成功！", function () { 
                            location.replace("/");
                        });
                    } else {
                        ku.page.msg.alert(reply.message, null, { icon: 5 });
                    }
                }
            }, options);

            $("form").kuForm(options);
        });
    </script>
}

