@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="toolbar">
        <action text="添加" size="small" icon="&#xe608;" action="window:System/Role/Edit" />
        <action text="刷新" size="small" icon="&#x1002;" action="javascript:gridReload()" />
    </div>
    <table id="list"></table>
    <div id="pager"></div>
</div>
@section Scripts
{
    <script>
        layui.use(['layer'], function () {
            var $ = layui.jquery, layer = layui.layer;

        });

        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                colModel: [
                    { label: '名称', name: 'Name', width: 50 },
                    { label: '英文名', name: 'NameEn', width: 50 },
                    { label: '是否启用', name: 'IsEnable', width: 30,  formatter: gridFormatter_Is },
                    {
                        label: '操作', name: 'Id', width: 100,
                        formatter: function (value, options, row) {
                            var html = '<div class="layui-btn-group">';
                            html += '<button title="权限分配" class="layui-btn layui-btn-mini" action="window:System/Role/RoleFunction?RoleId=' + row.Id + '">权限分配</button>';
                            html += '<button title="编辑" class="layui-btn layui-btn-mini" action="window:System/Role/Edit?id=' + row.Id + '">编辑</button>';
                            html += '<button title="删除" class="layui-btn layui-btn-mini layui-btn-danger" action="post:Delete?id=' + row.Id + '">删除</button>';
                            html += '</div>';
                            return html;
                        }
                    }
                ],
                pager: "#pager"
            });
        });
    </script>
}
