@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="toolbar">
        <action auth-code="sys.role.edit" text="添加" size="small" icon="&#xe608;" action="window:System/Role/Edit" />
        <action text="刷新" size="small" icon="&#x1002;" action="javascript:gridReload()" />
    </div>
    <table id="list"></table>
    <div id="pager"></div>
</div>
@section Scripts
{
    <script>
        layui.use(['layer'], function () {
            var $ = layui.jquery, layer = layui.layer;

        });

        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                colModel: [
                    { label: '名称', name: 'Name', width: 50 },
                    { label: '英文名', name: 'NameEn', width: 50 },
                    { label: '是否启用', name: 'IsEnable', width: 30, formatter: gridFormatter_Is },
                    {
                        label: '操作', name: 'Id', width: 100
                        , formatter: function (value, options, row) {
                            return gridFormatter_Operate([
                                { code: "sys.role.edit", title: "编辑", action: `window:System/Role/Edit?id=${row.Id}` },
                                { code: "", title: "权限分配", action: `window:System/Role/RoleFunction?RoleId=${row.Id}` },
                                { code: "sys.role.delete", title: "删除", action: `post:Delete?id=${row.Id}` }
                            ]);
                        }
                    }
                ],
                pager: "#pager"
            });
        });
    </script>
}
