@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
<div class="window-content">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <table class="layui-table tree-table" lay-skin="line">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody id="list">
                </tbody>
            </table>
        </div>
    </form>
</div>
<script id="tp:list-item" type="text/html">
    {{each items as value i}}
    <tr data-id="{{value.id}}" data-parentid="{{value.parentId}}">
        <td class="menu-open-tree" data-sub="{{value.hasSubMenu}}" title="展开子菜单">
            {{if value.hasSubMenu}}
            <i class="layui-icon">&#xe623;</i>
            {{else}}
            <span class="menu-tree-nbsp"></span>
            {{/if}}
            {{value.code}}
        </td>
        <td>
            <% for(var i = 1; i < (value.code.length/3); i++){ %>
            <span class="menu-tree-nbsp"></span>
            <% } %>
            <i class="fa {{value.icon}}"></i> {{value.name}}
        </td>
        <td></td>
    </tr>
    {{/each}}
</script>
@section Scripts
{
    <script>
        $(function () {
            vino.ajax.get("GetMenuByParentId",{},
                function (data) {
                    var html = template('tp:list-item', { items: data.data });
                    $("#list").html(html);
                });

            // 展开子菜单
            $('#J_tree').on('click', '.menu-open-tree[data-sub="true"]', function () {
                _showSubMenus($(this).parent());
            });
        });

        function _showSubMenus($row) {
            var id = $row.data('id');
            var $subs = $("#J_tree tr[data-parentid='" + id + "']");
            if ($row.attr("data-sub-show") == "1") {
                //隐藏
                $subs.hide();
                $row.attr("data-sub-show", "0");
                $row.find(".layui-icon").html('&#xe623;');
            } else {
                if ($row.attr("data-sub-loaded") == "1") {
                    $subs.show();
                    $row.attr("data-sub-show", "1");
                    $row.find(".layui-icon").html('&#xe625;');
                } else {
                    vino.ajax.get("GetMenuByParentId", { pid: id },
                        function (data) {
                            var html = template('tp:list-item', { items: data.data });
                            $row.after(html);
                            $row.attr("data-sub-loaded", "1");
                            $row.attr("data-sub-show", "1");
                            $row.find(".layui-icon").html('&#xe625;');
                        });
                }
            }
        }
    </script>
}
