@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="toolbar">
        <action auth-code="wechat.account.edit" text="添加" size="sm" icon="&#xe608;" action="window:WeChat/Account/Edit" after="gridReload()"/>
        <action text="刷新" size="sm" icon="&#x1002;" action="javascript:gridReload()" />
    </div>
    <table id="list">
    </table>
</div>
@section Scripts
{
    <script>
        $(function() {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Name', title: '名称', width: 150 },
                    { field: 'Type', title: '类型', width: 150, align: 'center', templet:'<div>{{d.Type.Title}}</div>'},
                    { field: 'WeixinId', title: '微信号', width: 180 },
                    { field: 'AppId', title: '应用ID', width: 180 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        templet: grid_templet_operate([
                            { code: "wechat.account.edit", title: "编辑", action: `window:WeChat/Account/Edit?id={{d.Id}}` },
                            { code: "wechat.account.delete", title: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
