@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="toolbar">
        <action auth-code="wechat.account.edit" text="添加" size="sm" icon="&#xe608;" action="window:WeChat/Account/Edit" after="gridReload()"/>
        <action text="刷新" size="sm" icon="&#x1002;" action="javascript:gridReload()" />
    </div>
    <table id="list">
    </table>
    <div id="pager"></div>
</div>
@section Scripts
{
    <script>
        layui.use(['layer'],
            function() {
                var $ = layui.jquery, layer = layui.layer;
            });

        $(function() {
            $("#list").vinoGrid({
                url: 'GetList',
                colModel: [
                    { label: '类型', name: 'Type.Title', width: 45 },
                    { label: '名称', name: 'Name', width: 75 },
                    { label: '应用ID', name: 'AppId', width: 75 },
                    { label: '创建时间', name: 'CreateTime', width: 100 },
                    {
                        label: '操作', name: 'Id', width: 100
                        , formatter: function(value, options, row) {
                            return gridFormatter_Operate([
                                { code: "wechat.account.edit", title: "编辑", action: `window:WeChat/Account/Edit?id=${row.Id}` },
                                { code: "wechat.account.delete", title: "删除", action: `post:Delete?id=${row.Id}` }
                            ]);
                        }
                    }
                ],
                pager: "#pager"
            });
        });
    </script>
}
