@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：用户 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">用户列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action auth-code="system.user.edit" text="添加" size="sm" icon="&#xe608;" action="window:/System/User/Edit" after="gridReload()" />
                <action text="刷新" size="sm" icon="&#x1002;" action="javascript:gridReload()" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Account', fixed: 'left', title: '账户', width: 100 },
                    { field: 'Name', title: '名称', width: 100 },
                    { field: 'Mobile', title: '手机', width: 140 },
                    { field: 'IsEnable', title: '是否启用', width: 100, align: 'center', templet: grid_templet_bool("IsEnable") },
                    { field: 'CreateTime', title: '创建时间', width: 160 },
                    { field: 'LastLoginTime', title: '登陆时间', width: 160 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        templet: grid_templet_operate([
                            { code: "sys.user.edit", title: "编辑", action: `window:/System/User/Edit?id={{d.Id}}` },
                            { code: "sys.user.delete", title: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
