@page
@model Vino.Core.CMS.Web.Backend.Pages.Account.AccessDeniedModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>无权操作</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
    <div>
        您无权访问/操作
    </div>
</body>
</html>
