@model Vino.Core.CMS.Web.Admin.Models.System.LoginFormData
<form id="inputForm" action="Login" method="post">
    <table>
        <tr>
            <td>UserName</td>
            <td>@Html.TextBoxFor(m => m.Account)</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>@Html.PasswordFor(m => m.Password, new { Value = "123456" })</td>
        </tr>
        <tr>
            <td></td>
            <td><button class="action-submit">Login</button></td>
        </tr>
    </table>
</form>
@section Scripts
{
    <script>
        $(function() {
            $("#inputForm").vinoForm({
                onAfter: function (reply, options) {
                    if (reply.code === 0) {
                        vino.page.navigateTo("@ViewData["ReturnUrl"]", true);
                    }
                }
            });

            $(".action-submit").on("click", function () {
                $("#inputForm").vinoForm("submit");
            });
        });
    </script>
}
