@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：支付方式 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-08 13:31
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">支付方式</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action auth-code="mall.payment.edit" text="添加" size="sm" icon="&#xe608;" action="window:/Mall/Payment/Edit" after="gridReload()" />
                <action text="刷新" size="sm" icon="&#x1002;" action="javascript:gridReload()" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Name', title: '名称', width: 170 },
                    { field: 'IsEnable', title: '是否可用', width: 100, align: 'center', templet: grid_templet_bool("IsEnable") },
                    { field: 'IsMobile', title: '移动支付', width: 100, align: 'center', templet: grid_templet_bool("IsMobile") },
                    { field: 'PaymentMode', title: '支付类型', width: 100, align: 'center', templet: '<div>{{d.PaymentMode.Title}}</div>' },
                    { field: 'EffectiveTime', title: '生效时间', width: 170, align: 'center' },
                    { field: 'CreateTime', title: '创建时间', width: 170, align: 'center' },
                    {
                        title: '操作', fixed: 'right', width: 160, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "mall.payment.edit", title: "编辑", action: `window:/Mall/Payment/Edit?id={{d.Id}}` },
                            { code: "mall.payment.delete", title: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
