@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：会员 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">会员列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                <action auth-code="membership.member.edit" text="新增" icon="&#xe608;" action="window:/Membership/Member/Edit" after="grid:reload['#list']" />
                <action auth-code="membership.member.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:Delete']" after="grid:reload" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Name', title: '姓名', width: 150 },
                    { field: 'Mobile', title: '手机', width: 130 },
                    { field: 'MemberType.Name', title: '会员类型', width: 130 },
                    { field: 'Points', title: '积分', width: 70 },
                    { field: 'Level', title: '等级', width: 70 },
                    { field: 'IsEnable', title: '是否可用', width: 100, switch: true },
                    { field: 'CreateTime', title: '创建时间', width: 160 },
                    { field: 'LastLoginTime', title: '登陆时间', width: 160 },
                    {
                        title: '操作', fixed: 'right', width: 160, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "membership.member.edit", text: "编辑", action: `window:/Membership/Member/Edit?id={{d.Id}}`, after:"grid:reload['#list']" },
                            { code: "membership.member.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
