@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：商品 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-24 10:50
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">商品列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action auth-code="mall.payment.edit" text="添加" size="sm" icon="&#xe608;" action="window:/Mall/Product/Edit" after="gridReload()" />
                <action text="刷新" size="sm" icon="&#x1002;" action="javascript:gridReload()" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Status', title: '状态', width: 100, align: 'center', templet: '<div>{{d.Status.Title}}</div>' },
                    { field: 'Name', title: '名称', width: 170 },
                    { field: 'Title', title: '标题', width: 170 },
                    { field: 'PriceRange', title: '价格', width: 80, align: 'right'},
                    { field: 'Stock', title: '库存', width: 70, align: 'right'},
                    { field: 'Sales', title: '销量', width: 70, align: 'right' },
                    { field: 'OrderIndex', title: '排序', width: 70, align: 'center'},
                    { field: 'CreateTime', title: '创建时间', width: 170, align: 'center'},
                    {
                        title: '操作', fixed: 'right', width: 160, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "mall.product.edit", title: "编辑", action: `window:/Mall/Product/Edit?id={{d.Id}}` },
                            { code: "mall.product.delete", title: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
