@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：公众号 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">公众号列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                <action auth-code="wechat.wxaccount.edit" text="添加" size="sm" icon="&#xe608;" action="window:/WeChat/WxAccount/Edit" after="gridReload()" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Name', title: '名称', width: 150 },
                    { field: 'Type', title: '类型', width: 150, align: 'center', templet:'<div>{{d.Type.Title}}</div>'},
                    { field: 'WeixinId', title: '微信号', width: 180 },
                    { field: 'AppId', title: '应用ID', width: 180 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        templet: grid_templet_operate([
                            { code: "wechat.wxaccount.edit", text: "编辑", action: `window:WeChat/WxAccount/Edit?id={{d.Id}}` },
                            { code: "wechat.wxaccount.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
