@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="width:1190px; margin:0px auto; height:400px;">

    <div class="fl" style="width:400px; height:400px;">
        <div style="width:400px; height:250px;"><img src="images/player.jpg" /></div>

        <div class="pr" style="width:400px; height:140px; background-color:#03F; margin-top:10px;"><a href="#"><img src="images/ads3.jpg" /></a><i></i></div>
    </div>

    <div class="fl" style="width:500px; height:400px; margin-left:10px;">
        <div class="b tc" style="border-bottom:1px solid #CCC; height:150px;">
            <a href="#"><strong class="fs30">柴达木枸杞节日盛大开幕</strong></a><br />
            <span class="tl fs14 lh28">首届中国柴达木(国际)富硒有机枸杞节新闻发布会上了解到，以“富硒有机绿色健康品牌引领合作共赢”为主题的2018首届中国柴达木(国际)富硒有机枸杞节将于8月7日至8月9日在海西蒙古族藏族自治州格尔木市举办</span>
        </div>
        <div class="b" style="border-bottom:1px solid #CCC; height:220px;">
            11s
        </div>
        <div style=" height:30px; line-height:30px; font-size:14px">
            <a href="#" class="fl" style="display:block; width:250px;">- 出口级红枸杞关键参数有哪些？</a>
            <a href="#" class="fl" style="display:block; width:250px;">- 全自动太阳能枸杞烘干机竟然免费？</a>
            <br class="cl" />
        </div>

    </div>

    <div class="fl" style="width:270px; height:400px; margin-left:10px; background-color:#990">1</div>

    <br class="cl" />

</div>

<!--广告-->
<a href="#" class="pr ad_htl"><img src="images/ads2.jpg" /><i></i></a>

<div style="width:1190px; margin-top:1px; height:300px; margin:0px auto;">
    <div class="fl" style="width:910px; height:300px;">
        <div style="border-bottom:2px solid #C00; height:35px;">
            <strong class="fs20 fc_r">市场行情</strong> <span class="jg">|</span> <span class="ffa fc_666 mt3">Market Information.</span>
            <p class="fr lh35 fs14 c"><a href="#">市场动态</a> <span class="jg">|</span> <a href="#">政策法规</a> <span class="jg">|</span> <a href="#">人物访谈</a> <span class="jg">|</span> <a href="#">专场发布</a> <span class="jg">|</span> <a href="#">专场发布</a></p>
        </div>
        <div>
            <div class="fl" style="width:455px;">11</div>
            <div class="fl" style="width:455px;">222</div>
            <br class="cl" />
        </div>
    </div>

    <div class="fr" style=" width:270px; background-color:#036; height:300px;">1111</div>
</div>

<div style="width:1190px; margin-top:1px; height:510px; margin:10px auto 0px auto;">
    <div class="fl" style="width:910px; height:510px;">
        <div style="height:250px; background-color:#066; margin-bottom:10px;"></div>
        <div style="height:250px; background-color:#066;"></div>
    </div>

    <div class="fr" style=" width:270px; background-color:#036; height:510px;">1111</div>
</div>

<a href="#" class="pr ad_htl"><img src="images/ads.jpg" /><i></i></a>

<div style="width:1190px; margin-top:1px; height:300px; margin:0px auto;">
    <div class="fl" style="width:910px; background-color:#099; height:300px;"></div>

    <div class="fr" style=" width:270px; background-color:#036; height:300px;">1111</div>
</div>

<div style="width:1190px; margin-top:1px; height:300px; margin:10px auto 0px auto;">
    <div class="fl" style="width:910px; background-color:#099; height:300px;"></div>

    <div class="fr" style=" width:270px; background-color:#036; height:300px;">1111</div>
</div>

<a href="#" class="pr ad_htl"><img src="images/ads.jpg" /><i></i></a>

<div style="width:1190px; margin-top:1px; height:300px; margin:0px auto;">
    <div class="fl" style="width:910px; background-color:#099; height:300px;"></div>

    <div class="fr" style=" width:270px; background-color:#036; height:300px;">1111</div>
</div>

<div style="width:1190px; margin-top:1px; height:300px; margin:10px auto 0px auto;">
    <div class="fl" style="width:910px; background-color:#099; height:300px;"></div>

    <div class="fr" style=" width:270px; background-color:#036; height:300px;">1111</div>
</div>

<a href="#" class="pr ad_htl"><img src="images/ads2.jpg" /><i></i></a>