@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.Mall.Product.Category.IndexModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 vino 版权所有
    //
    // 文件名：Index.cshtml
    // 功能描述：商品类目 列表页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-04-26 11:32
    //
    //----------------------------------------------------------------
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            <span class="layui-breadcrumb">
                <a href="Index">顶级类目</a>
                @foreach (var dto in Model.Parents)
                {
                    <a href="Index?parentId=@dto.Id">@dto.Name</a>
                }
            </span>
        </div>
        <div class="layui-tab layui-tab-brief" lay-filter="tabMian">
            <ul class="layui-tab-title">
                <li lay-id="list" class="layui-this">类目列表</li>
                <li lay-id="recycles"><i class="layui-icon">&#xe640;</i> 回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action auth-code="mall.product.category.edit" text="新增" icon="&#xe608;" action="window:/Mall/Product/Category/Edit?pid=@ViewData["ParentId"]" after="grid:reload['#list']" />
                        <action auth-code="mall.product.category.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:Index/Delete']" after="grid:reload" />
                    </div>
                    <table id="list"></table>
                </div>
                <div class="layui-tab-item">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#recycles']" />
                        <action auth-code="mall.product.category.restore" text="批量恢复" icon="&#xe65c;" action="batch:['#recycles', 'post:Index/Restore']" after="grid:reload" />
                    </div>
                    <table id="recycles"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
    layui.use(['element'], function () {
        var element = layui.element;

        var cols = [
            { field: 'Name', title: '名称', width: 300 },
            { field: 'CreateTime', title: '创建时间', width: 170, align: 'center' }
        ];

        $("#list").vinoGrid({
            url: 'Index/Data',
            cols: [cols.concat([
                {
                    title: '操作', fixed: 'right', width: 160, align: 'center',
                    toolbar: grid_templet_operate([
                        { code: "", text: "子类目", action: `Index?parentId={{d.Id}}`, css: "layui-btn-primary" },
                        { code: "mall.product.category.edit", text: "编辑", action: `window:/Mall/Product/Category/Edit?id={{d.Id}}`, after:"grid:reload['#list']" },
                        { code: "mall.product.category.delete", text: "删除", action: `post:Index/Delete?id={{d.Id}}` }
                    ])
                }
            ])],
            onWhere: function () {
                return {
                    IsDeleted: false,
                    ParentId:"@ViewData["ParentId"]"
                };
            }
        });

        element.on('tab(tabMian)', function () {
            if (this.getAttribute('lay-id') === "recycles" && !$("#recycles").hasClass("vino-grid"))
            {
                //初始化回收站
                $("#recycles").vinoGrid({
                    url: 'Index/Data',
                    cols: [cols.concat([
                        {
                            title: '操作', fixed: 'right', width: 160, align: 'center',
                            toolbar: grid_templet_operate([
                                { code: "mall.product.category.restore", text: "恢复", action: `post:Index/Restore?id={{d.Id}}` }
                            ])
                        }
                    ])],
                    onWhere: function () {
                        return {
                            IsDeleted: true,
                            ParentId:"@ViewData["ParentId"]"
                        };
                    }
                });
            }
        });
    });
    </script>
}