@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">微信用户列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action text="刷新" size="sm" icon="&#x1002;" action="javascript:gridReload()" />
                <action id="btnAdd" auth-code="wechat.user.tag.edit" text="添加" size="sm" icon="&#xe608;" action="" after="gridReload()" />
                <span class="toolbar-right">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">公众号</label>
                            <div class="layui-input-block">
                                <select id="scAccount" lay-verify="required" lay-filter="account">
                                    @foreach (var account in ViewBag.Accounts)
                                    {
                                        <option value="@account.Id">@account.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </span>
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            form.on('select(account)', function (data) {
                $("#list").vinoGrid("search");
                $("#btnAdd").attr("action", "window:/WeChat/WxUser/TagEdit?AccountId=" + data.value);
            });
        });

        $(function () {
            $("#btnAdd").attr("action", "window:/WeChat/WxUser/TagEdit?AccountId=" + $("#scAccount").val());

            $("#list").vinoGrid({
                url: 'GetTagList',
                cols: [[
                    { field: 'TagId', title: '标签ID', width: 150 },
                    { field: 'Name', title: '名称', width: 150 },
                    { field: 'Count', title: '用户数', width: 150 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        templet: grid_templet_operate([
                            { code: "wechat.user.tag.edit", title: "编辑", action: `window:/WeChat/WxUser/TagEdit?id={{d.Id}}` },
                            { code: "wechat.user.tag.delete", title: "删除", action: `post:DeleteTag?id={{d.Id}}` }
                        ])
                    }
                ]],
                onWhere: function () {
                    return {
                        AccountId: $("#scAccount").val()
                    };
                }
            });
        });
    </script>
}
