@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.WeChat.WxUserTag.IndexModel
@{
    //----------------------------------------------------------------
    // Copyright (C) 2018 kulend 版权所有
    //
    // 文件名：Index.cshtml
    // 功能描述：微信用户标签 列表页面
    //
    // 创建者：kulend@qq.com
    // 创建时间：2018-05-25 15:53
    //
    //----------------------------------------------------------------
}
@{
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3 layui-col-lg2">
            <div class="layui-card">
                <div class="layui-card-header">公众号</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <table id="ID_table_filters" class="layui-table" lay-skin="row">
                            <tbody>
                                @foreach (var account in Model.Accounts)
                                {
                                    <tr><td><input type="checkbox" title="@account.Name" name="name_filter" value="@account.Id" lay-skin="primary" lay-filter="filter-item"></td></tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md9  layui-col-lg10">
            <div class="layui-card">
                <div class="layui-card-header">用户标签</div>
                <div class="layui-card-body">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action id="btnAdd" auth-code="wechat.wxusertag.edit" text="新增" icon="&#xe608;" action="window:/WeChat/WxUserTag/Edit" after="grid:reload['#list']" />
                        <action auth-code="wechat.wxusertag.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:Index/Delete']" after="grid:reload" />
                    </div>
                    <table id="list"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
<script>
    layui.use(['form','element'], function () {
        var element = layui.element;
        var form = layui.form;

        form.on('checkbox(filter-item)', function (data) {
            var name = data.elem.getAttribute("name");
            var domArr = document.getElementsByName(name);
            var checked = false;
            for (var i = 0; i < domArr.length; i++) {
                if (domArr[i] !== data.elem) {
                    if (data.elem.checked) {
                        domArr[i].checked = false;
                    } else if (domArr[i].checked) {
                        checked = true;
                    }
                }
            }
            data.elem.checked = !checked ? true : data.elem.checked;
            form.render('checkbox');

            filterChanged(data.value);
        });
    });

    var cols = [
        { field: 'TagId', title: '标签ID', width: 150 },
        { field: 'Name', title: '名称', width: 150 },
        { field: 'Count', title: '用户数', width: 150 },
    ];

    var selFilterValue;
    function filterChanged(filterValue) {
        if (!selFilterValue) {
            selFilterValue = filterValue;
            $("#list").vinoGrid({
                url: 'Index/Data',
                cols: [cols.concat([
                    {
                        title: '操作', fixed: 'right', width: 100, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "wechat.user.tag.edit", text: "编辑", action: `window:/WeChat/WxUser/TagEdit?id={{d.Id}}` },
                            { code: "wechat.user.tag.delete", text: "删除", action: `post:DeleteTag?id={{d.Id}}` }
                        ])
                    }
                ])],
                onWhere: function () {
                    return {
                        AccountId: selFilterValue
                    };
                }
            });
        } else if (selFilterValue != filterValue) {
            selFilterValue = filterValue;
            $("#list").vinoGrid("search");
        }

        $("#btnAdd").attr("action", "window:/WeChat/WxUserTag/Edit?AccountId=" + selFilterValue);
    }
</script>
}
