@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Edit.cshtml
// 功能描述：物流配送 新增&编辑页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 19:05
//
//----------------------------------------------------------------
}

@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.Mall
@model DeliveryDto
<div class="layui-layout layui-layout-window">
    @using (Html.BeginForm<DeliveryDto>("Save"))
    {
    <div class="layui-body">
        @Html.InputFor(x => x.Id)
    </div>
        <div class="layui-footer">
            @Html.ActionsForSubmitAndClose()
        </div>
    }
</div>
@section Scripts
{
<script>
        layui.use(['form'], function () {
            var form = layui.form;
        });
</script>
}
