.header {
	height: 60px;
    border-bottom: none;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
}
.login-header {
	position: fixed;
}
.login-logo {
	width: 1075px;
	margin: 0 auto;
	position: relative;
}
.login-logo .logo,
.frame-header .logo {
	position: absolute;
    top: 10px;
}
.login-logo .logo img,
.frame-header .logo img {
    width: auto;
}
.login-main {
    width: 1075px;
    min-height: 600px;
    margin: 0 auto 15px;
}
.login-panel {
	padding: 20px;
	margin-bottom: 10px;
    background-color: #fff;
    border-radius: 2px;
}
.login-panel-user {
	padding-top: 5px;
}
.layui-form-pane .login-vercode {
	padding: 0;
	margin: 0;
}
.frame-header .layui-nav {
	position: absolute;
    right: 10px;
    top: 0;
    padding: 0;
    background: none;
}
.main-index cite {
	padding: 0 5px;
} 
.main-index .layui-nav-child dd a {
    padding-left: 35px;
}
.main-index-tab {
	margin-top: 0px;
    border: 0 none;
    box-shadow: none;
    min-height: 150px;
    padding: 0;
}
.main-index-tab .layui-tab-content .layui-tab-item,
.main-index-tab .layui-tab-content iframe {
	width: 100%;
    border: 0;
    height: 100%
}
.layui-layout-admin .main-index-footer {
	z-index: 501;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
}
.sub-page {
	height: 100%;
    padding: 0;
}
.sub-page {
	box-sizing: border-box;
}
.sub-page-tab {
	margin-top: 0;
}
.jadmin-quote-label {
	position: relative;
    border-left: 5px solid #f66;
}
.jadmin-quote-label .layui-icon {
	position: absolute;
    top: 14px;
    left: -14px;
    background-color: #f66;
    color: #fff;
    content: "!";
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    font-size: 15px;
}
.menu-open-tree {
	cursor: pointer;
}
.menu-tree-nbsp {
	margin-left: 20px;
}
.menu-isshow {
	font-weight: bold;
}
.menu-isshow_y {
	color: #009688;
}
.menu-isshow_n {
	color: #c2c2c2;
}

.tree-table__nbsp {
	margin-left: 26px;
}
.tree-table-spread:before {
	content: "\f0da"
}
.tree-table__children .tree-table-spread__open:before {
	content: "\f0d7"
}
.tree-table__children .tree-table-icon {
    display: inline-block;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    width: 18px;
    height: 18px;
}
.tree-table-check {
	margin-top: 0;
}
.layui-form-label__more-line {
	padding-top: 0;
	padding-bottom: 0;
}
.layui-field-title {
	margin: 30px 0 10px;
}
/* 适配多设备 */
@media screen and (max-width: 1024px) {
  .login-main{width: auto; margin: 0 10px;}
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
	.frame-header .logo-xsm {
		width: 100%;
		display: block;
		position: inherit;
		text-align: center;
	}
	.frame-header .logo-xsm img {
		display: inline-block;
	}
	.frame-header-xsm {
		height: auto;
	}
	.frame-header-xsm .layui-nav {
		position: inherit;
	}
	.layui-nav-item-xsm {
		width: 50%;
	}
	.layui-nav-item-xsm .fa {
		font-size: 18px;
	}
	.layui-layout-admin .layui-side-xsm,
	.layui-layout-admin .layui-body-xsm  {
		top: 100px;
	}
	.layui-body-xsm {
		left: 0;
	}
	.layui-side-xsm {
		display: none;
	}
	.layui-layout-admin .layui-footer-xsm {
		width: 100%;
		left: 0;
	}
	.layui-nav-xsm .layui-this:after,
	.layui-nav-xsm .layui-nav-bar {
		display: none;
	}
	.main-index-tab .layui-tab-content .layui-tab-item {
		-webkit-overflow-scrolling: touch;
		/*overflow: scroll;*/	
	}
	.layui-form-item .layui-form-label {
		text-overflow: inherit;
		white-space: normal;
	}
}
@media (min-width: 992px) {
	.layui-side {
		display: block !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}