@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Edit.cshtml
// 功能描述：图片素材 新增&编辑页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}

@{
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.Material
@model PictureDto
<div class="window-content">
    @using (Html.BeginForm<PictureDto>("Save"))
    {
        @Html.InputFor(x => x.Id)

        @Html.ActionsForSubmitAndClose()
    }
</div>