@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：图片素材 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="tabMian">
            <ul class="layui-tab-title">
                <li lay-id="list" class="layui-this">图片素材列表</li>
                <li lay-id="recycles"><i class="layui-icon">&#xe640;</i> 回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action auth-code="material.picture.upload" text="本地上传" icon="&#xe67c;" action="window:/Material/Picture/Upload" after="grid:reload['#list']" />
                        <action auth-code="material.picture.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:Delete']" after="grid:reload" />
                    </div>
                    <table id="list"></table>
                </div>
                <div class="layui-tab-item">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#recycles']" />
                        <action auth-code="material.picture.restore" text="批量恢复" icon="&#xe65c;" action="batch:['#recycles', 'post:Restore']" after="grid:reload" />
                    </div>
                    <table id="recycles"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script>
    layui.use(['element'], function () {
        var element = layui.element;

        var cols = [
                    {
                        field: 'FilePath', title: '图片', width: 120, align: 'center'
                        , templet: '<div><img src="{{d.FilePath}}" /></div>'
                    },
                    { field: 'Title', title: '文件名', width: 130 },
                    { field: 'FileType', title: '文件类型', width: 90 },
                    { field: 'Md5Code', title: 'MD5码', width: 120 },
                    {
                        field: 'FileSize', title: '文件大小', width: 90, align: 'center'
                        , templet: '<div>{{# var s = (d.FileSize / 1014).toFixed(1) }} {{s}} kb</div>'
                    },
                    { field: 'IsCompressed', title: '压缩', width: 80, align: 'center', templet: grid_templet_bool("IsCompressed") },
                    { field: 'FilePath', title: '文件路径', width: 160 },
                    { field: 'CreateTime', title: '上传时间', width: 160 },
        ];

        $("#list").vinoGrid({
            url: 'GetList',
            size:'lg',
            cols: [cols.concat([
                {
                    title: '操作', fixed: 'right', width: 160, align: 'center',
                    toolbar: grid_templet_operate([
                        { code: "material.picture.edit", text: "编辑", action: `window:/Material/Picture/Edit?id={{d.Id}}`, after:"grid:reload['#list']" },
                        { code: "material.picture.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                    ])
                }
            ])],
            onWhere: function () {
                return {
                    IsDeleted: false
                };
            }
        });

        element.on('tab(tabMian)', function () {
            if (this.getAttribute('lay-id') === "recycles" && !$("#recycles").hasClass("vino-grid"))
            { 
                //初始化回收站
                $("#recycles").vinoGrid({
                    url: 'GetList',
                    size:'lg',
                    cols: [cols.concat([
                        {
                            title: '操作', fixed: 'right', width: 160, align: 'center',
                            toolbar: grid_templet_operate([
                                { code: "material.picture.restore", text: "恢复", action: `post:Restore?id={{d.Id}}` }
                            ])
                        }
                    ])],
                    onWhere: function () {
                        return {
                            IsDeleted: true
                        };
                    }
                });
            }
        });
    });
</script>
}
