@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：图片素材 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">图片素材</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                <action auth-code="material.picture.upload" text="本地上传" icon="&#xe67c;" action="window:/Material/Picture/Upload" after="grid:reload['#list']" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                size:'lg',
                cols: [[
                    {
                        field: 'FilePath', title: '图片', width: 120, align: 'center'
                        , templet: '<div><img src="{{d.FilePath}}" /></div>'
                    },
                    { field: 'Title', title: '文件名', width: 130 },
                    { field: 'FileType', title: '文件类型', width: 90 },
                    { field: 'Md5Code', title: 'MD5码', width: 120 },
                    {
                        field: 'FileSize', title: '文件大小', width: 90, align: 'center'
                        , templet: '<div>{{# var s = (d.FileSize / 1014).toFixed(1) }} {{s}} kb</div>'
                    },
                    { field: 'IsCompressed', title: '压缩', width: 80, align: 'center', templet: grid_templet_bool("IsCompressed") },
                    { field: 'FilePath', title: '文件路径', width: 160 },
                    { field: 'CreateTime', title: '上传时间', width: 160 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "membership.member.edit", text: "编辑", action: `window:/Material/Picture/Edit?id={{d.Id}}` },
                            { code: "membership.member.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
