@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.Communication.Sms.QueueListModel
@{
	//----------------------------------------------------------------
	// Copyright (C) 2018 kulend 版权所有
	//
	// 文件名：QueueList.cshtml
	// 功能描述：短信队列 列表页面
	//
	// 创建者：kulend@qq.com
	// 创建时间：2018-05-22 15:57
	//
	//----------------------------------------------------------------
}
@{
    Layout = "_Layout";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="tabMian">
            <ul class="layui-tab-title">
                <li lay-id="list" class="layui-this">短信队列</li>
                <li lay-id="recycles"><i class="layui-icon">&#xe640;</i> 回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action auth-code="communication.sms.queue.add" text="新增" icon="&#xe608;" action="window:/Communication/Sms/Add" after="grid:reload['#list']" />
                    </div>
                    <table id="list"></table>
                </div>
                <div class="layui-tab-item">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#recycles']" />
                    </div>
                    <table id="recycles"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
    layui.use(['element'], function () {
        var element = layui.element;

        var cols = [
            { field: 'Status', title: '状态', width: 100, enum: true },
            { field: 'Mobile', title: '手机号', width: 140, templet: '<div>{{d.Sms.Mobile}}</div>' },
            { field: 'Content', title: '短信内容', width: 300, templet: '<div>{{d.Sms.Content}}</div>' },
            { field: 'CreateTime', title: '创建时间', width: 170, align: 'center' },
            { field: 'ExpireTime', title: '过期时间', width: 170, align: 'center' },
        ];

        $("#list").kuGrid({
            url: 'QueueList/Data',
            cols: [cols.concat([
                {
                    title: '操作', fixed: 'right', width: 160, align: 'center',
                    toolbar: grid_templet_operate([
                        { code: "communication.sms.queue.detail", text: "详情", action: `window:/Communication/Sms/Detail?id={{d.Id}}`, css: "layui-btn-primary" }
                    ])
                }
            ])],
            onWhere: function () {
                return {
                    IsDeleted: false
                };
            }
        });

        element.on('tab(tabMian)', function () {
            if (this.getAttribute('lay-id') === "recycles" && !$("#recycles").hasClass("ku-grid"))
            {
                //初始化回收站
                $("#recycles").kuGrid({
                    url: 'QueueList/Data',
                    cols: [cols.concat([
                        {
                            title: '操作', fixed: 'right', width: 160, align: 'center',
                            toolbar: grid_templet_operate([
                                { code: "communication.sms.queue.detail", text: "详情", action: `window:/Communication/Sms/Detail?id={{d.Id}}`, css: "layui-btn-primary" }
                            ])
                        }
                    ])],
                    onWhere: function () {
                        return {
                            IsDeleted: true
                        };
                    }
                });
            }
        });
    });
    </script>
}
