@page "{handler?}"
@model Ku.Core.CMS.Web.Backend.Pages.Communication.Sms.TempletListModel
@{
	//----------------------------------------------------------------
	// Copyright (C) 2018 kulend 版权所有
	//
	// 文件名：TempletList.cshtml
	// 功能描述：短信模板 列表页面
	//
	// 创建者：kulend@qq.com
	// 创建时间：2018-05-22 15:53
	//
	//----------------------------------------------------------------
}
@{
    Layout = "_Layout";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="tabMian">
            <ul class="layui-tab-title">
                <li lay-id="list" class="layui-this">短信模板</li>
                <li lay-id="recycles"><i class="layui-icon">&#xe640;</i> 回收站</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="toolbar">
                        <action title="刷新" action="grid:reload['#list']" />
                        <action auth-code="communication.sms.templet.edit" text="新增" icon="&#xe608;" action="window:/Communication/Sms/TempletEdit" after="grid:reload['#list']" />
                        <action auth-code="communication.sms.templet.delete" text="批量删除" icon="&#xe640;" action="batch:['#list', 'post:TempletList/Delete']" after="grid:reload" />
                    </div>
                    <table id="list"></table>
                </div>
                <div class="layui-tab-item">
                    <div class="toolbar">
                        <action title="刷新" action="grid:reload['#recycles']" />
                        <action auth-code="communication.sms.templet.restore" text="批量恢复" icon="&#xe65c;" action="batch:['#recycles', 'post:TempletList/Restore']" after="grid:reload" />
                    </div>
                    <table id="recycles"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script>
    layui.use(['element'], function () {
        var element = layui.element;

        var cols = [
            { field: 'Tag', title: '标记', width: 100 },
            { field: 'Name', title: '名称', width: 100 },
            { field: 'Example', title: '示例', width: 200 },
            { field: 'Templet', title: '模板', width: 200 },
            { field: 'TempletKey', title: '模板KEY', width: 100 },
            { field: 'Signature', title: '签名', width: 100 },
            { field: 'IsEnable', title: '是否可用', width: 100, switch: true },
            { field: 'CreateTime', title: '创建时间', width: 170, align: 'center' }
        ];

        $("#list").kuGrid({
            url: 'TempletList/Data',
            cols: [cols.concat([
                {
                    title: '操作', fixed: 'right', width: 160, align: 'center',
                    toolbar: grid_templet_operate([
                        { code: "communication.sms.templet.edit", text: "编辑", action: `window:/Communication/Sms/TempletEdit?id={{d.Id}}`, after:"grid:reload['#list']" },
                        { code: "communication.sms.templet.delete", text: "删除", action: `post:TempletList/Delete?id={{d.Id}}` }
                    ])
                }
            ])],
            onWhere: function () {
                return {
                    IsDeleted: false
                };
            }
        });

        element.on('tab(tabMian)', function () {
            if (this.getAttribute('lay-id') === "recycles" && !$("#recycles").hasClass("ku-grid"))
            { 
                //初始化回收站
                $("#recycles").kuGrid({
                    url: 'TempletList/Data',
                    cols: [cols.concat([
                        {
                            title: '操作', fixed: 'right', width: 160, align: 'center',
                            toolbar: grid_templet_operate([
                                { code: "communication.sms.templet.restore", text: "恢复", action: `post:TempletList/Restore?id={{d.Id}}` }
                            ])
                        }
                    ])],
                    onWhere: function () {
                        return {
                            IsDeleted: true
                        };
                    }
                });
            }
        });
    });
</script>
}
