@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：会员积分 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-04-20 15:52
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Vino.Core.CMS.Domain.Enum.Membership
@using Vino.Core.Infrastructure.Extensions
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3 layui-col-lg2">
            <div class="layui-card">
                <div class="layui-card-header">积分类型</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <table id="ID_table_filters" class="layui-table" lay-skin="row">
                            <tbody>
                                @foreach (var item in typeof(EmMemberPointType).GetEnuInfos() )
                                {
                                    <tr><td><input type="checkbox" title="@item.name" name="name_filter" value="@item.value" lay-skin="primary" lay-filter="filter-item"></td></tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md9  layui-col-lg10">
            <div class="layui-card">
                <div class="layui-card-header">会员积分</div>
                <div class="layui-card-body">
                    <div class="toolbar">
                        <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                        <action id="btnAdd" auth-code="wechat.menu.edit" text="新增" icon="&#xe608;" action="" after="grid:reload['#list']" />
                    </div>
                    <table id="list"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;

            form.on('checkbox(filter-item)', function (data) {
                var name = data.elem.getAttribute("name");
                var domArr = document.getElementsByName(name);
                var checked = false;
                for (var i = 0; i < domArr.length; i++) {
                    if (domArr[i] !== data.elem) {
                        if (data.elem.checked) {
                            domArr[i].checked = false;
                        } else if (domArr[i].checked) {
                            checked = true;
                        }
                    }
                }
                data.elem.checked = !checked ? true : data.elem.checked;
                form.render('checkbox');

                filterChanged(data.value);
            });
        });

        var selFilterValue;
        function filterChanged(filterValue) {
            if (!selFilterValue) {
                selFilterValue = filterValue;
                $("#list").vinoGrid({
                    url: 'GetList',
                    cols: [[
                        { field: 'Name', title: '名称', width: 150 },
                        { field: 'IsIndividuation', title: '个性化菜单', width: 100, switch: true },
                        { field: 'PublishTime', title: '发布时间', width: 150 },
                        {
                            title: '操作', fixed: 'right', width: 165, align: 'center',
                            templet: grid_templet_operate([
                                { code: "wechat.menu.edit", text: "编辑", action: `window:/WeChat/WxMenu/Edit?id={{d.Id}}` },
                                { code: "wechat.menu.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                            ])
                        }
                    ]],
                    onWhere: function () {
                        return {
                            AccountId: selFilterValue
                        };
                    }
                });
            } else if (selFilterValue != filterValue) {
                selFilterValue = filterValue;
                $("#list").vinoGrid("search");
            }

            //$("#btnAdd").attr("action", "window:/WeChat/WxMenu/Edit?AccountId=" + selFilterValue);
        }
    </script>
}
