@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：微信二维码 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">微信用户列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                <action id="btnAdd" auth-code="wechat.qrcode.edit" text="添加" size="sm" icon="&#xe608;" action="" after="gridReload()" />
                <span class="toolbar-right">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">公众号</label>
                            <div class="layui-input-block">
                                <select id="scAccount" lay-verify="required" lay-filter="account">
                                    @foreach (var account in ViewBag.Accounts)
                                    {
                                        <option value="@account.Id">@account.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </span>
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            form.on('select(account)', function (data) {
                $("#list").vinoGrid("search");
                $("#btnAdd").attr("action", "window:WeChat/WxQrcode/Edit?AccountId=" + data.value);
            });
        });

        $(function () {
            $("#btnAdd").attr("action", "window:WeChat/WxQrcode/Edit?AccountId=" + $("#scAccount").val());
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'SceneId', title: '场景ID', width: 120 },
                    { field: 'SceneType', title: '场景类型', width: 100, align: 'center', templet: '<div>{{d.SceneType.Title}}</div>' },
                    { field: 'PeriodType', title: '时效类型', width: 100, align: 'center', templet: '<div>{{d.PeriodType.Title}}</div>' },
                    { field: 'EventKey', title: '事件', width: 120 },
                    { field: 'Purpose', title: '用途', width: 150 },
                    { field: 'ScanCount', title: '扫描次数', width: 90 },
                    { field: 'Ticket', title: 'Ticket', width: 150 },
                    { field: 'Url', title: 'Url', width: 150 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        templet: grid_templet_operate([
                            { code: "wechat.qrcode.edit", text: "编辑", action: `window:WeChat/WxQrcode/Edit?id={{d.Id}}` },
                            { code: "", text: "下载", action: `javascript:openDownDialog('{{d.Ticket}}')` },
                            { code: "wechat.qrcode.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]],
                onWhere: function () {
                    return {
                        AccountId: $("#scAccount").val()
                    };
                }
            });
        });

        function openDownDialog(ticket)
        { 
            var url = 'https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=' + encodeURI(ticket);
            vino.page.openWindow({
                type: 2,
                title: '下载二维码',
                shadeClose: true,
                shade: 0.8,
                area: ['430px', '475px'],
                content: url
            });
        }
    </script>
}
