@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：文章 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">文章列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                <action auth-code="content.article.edit" text="添加" size="sm" icon="&#xe608;" action="window:/Content/Article/Edit" after="gridReload()" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Title', title: '标题', width: 220 },
                    { field: 'Author', title: '作者', width: 120 },
                    { field: 'Provenance', title: '来源', width: 140 },
                    { field: 'IsPublished', title: '是否发布', width: 100, align: 'center', templet: grid_templet_bool("IsPublished") },
                    { field: 'OrderIndex', title: '排序', width: 80, align: 'center' },
                    { field: 'Visits', title: '浏览量', width: 80, align: 'center' },
                    { field: 'PublishedTime', title: '发布时间', width: 170, align: 'center'},
                    { field: 'CreateTime', title: '创建时间', width: 170, align: 'center'},
                    {
                        title: '操作', fixed: 'right', width: 160, align: 'center',
                        toolbar: grid_templet_operate([
                            { code: "content.article.edit", text: "编辑", action: `window:/Content/Article/Edit?id={{d.Id}}` },
                            { code: "content.article.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
