@page
@model Ku.Core.CMS.Web.Backend.Pages.MaterialCenter.Picture.SelectorModel
@{
    Layout = "_WindowFormLayout";
}
@using Ku.Core.Infrastructure.Extensions
@section Css
    {
    <style>
            .img_pick .img_item {
                position: relative;
                margin-right: 15px;
                margin-bottom: 7px;
                float: left;
                text-align: center;
            }

            .img_pick .img_item_bd {
                margin: 0;
                border: 1px solid #e7e7eb;
                width: 117px;
            }

        .frm_radio_label, .frm_checkbox_label {
            display: inline-block;
            text-align: left;
            cursor: pointer;
            margin-right: 1em;
        }

        .img_pick .img_item .pic_box {
            width: 117px;
            height: 117px;
            position: relative;
            overflow: hidden;
        }

        .img_pick .img_item .pic {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            height: 117px;
        }

        .img_pick .img_item .pic {
            display: block;
            border-bottom: 1px solid #e7e7eb;
        }

        .img_pick .img_item .lbl_content {
            display: block;
            padding: 0 9px;
        }

        .img_pick .img_item .lbl_content {
            height: 28px;
            line-height: 28px;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 12px;
        }

        .img_pick .img_item_bd.selected .selected_mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .img_pick .img_item_bd.selected .selected_mask_inner {
            width: 118px;
            height: 118px;
            -moz-opacity: .6;
            -khtml-opacity: .6;
            opacity: .6;
            background-color: #000;
            filter: alpha(opacity=60);
        }

        .img_pick .img_item_bd.selected .selected_mask_icon {
            position: absolute;
            top: 0;
            left: 0;
            background: transparent url(/images/icon_card_selected.png) no-repeat 0 0;
            width: 117px;
            height: 117px;
            vertical-align: middle;
            display: inline-block;
            background-position: 50% 50%;
        }
        .search-bar {
            padding-left:15px;
            padding-right:15px;
        }
        .search-bar button{
            margin-top:10px;
        }
        .inner_menu_item {
            position: relative;
            line-height: 32px;
        }
        .inner_menu_item.selected {
            background-color:#f4f5f9;
        }
        .img_pick_panel .inner_menu_link {
            padding-left: 1.5em;
            text-align: left;
        }
        .inner_menu_link {
            display: block;
            color: #222;
            padding-left: 1em;
            text-decoration: none;
        }
        .img_pick_panel .inner_menu_link strong {
            max-width: 86px;
        }
        .inner_menu_link strong {
            display: inline-block;
            margin-top: -2px;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            max-width: 80px;
            font-weight: 400;
            font-style: normal;
            vertical-align: middle;
            cursor: pointer;
        }
        .group_list .num {
            display: inline-block;
            padding-left: 3px;
            font-style: normal;
            color: #8d8d8d;
        }
    </style>
}
<div class="layui-layout layui-layout-window">
    <div class="layui-body" style="overflow:auto; padding:0;">
        <div class="inner_side" style="width: 18%; float:left;">
            <div class="group_list">
                <div class="inner_menu_box">
                    <dl class="inner_menu">
                        <dd class="inner_menu_item selected" data-groupid="">
                            <a href="javascript:;" class="inner_menu_link" title="全部图片">
                                <strong>全部图片</strong>@*<em class="num">(<span>14</span>)</em>*@
                            </a>
                        </dd>
                        @foreach (var group in Model.Groups)
                        {
                            <dd class="inner_menu_item" data-groupid="@group.Id">
                                <a href="javascript:;" class="inner_menu_link" title="@group.Name">
                                    <strong>@group.Name.Substr(0, 10, "..")</strong>@*<em class="num">(<span>0</span>)</em>*@
                                </a>
                            </dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
        <div style="width: 82%; float:left;">
            <div class="search-bar">
                <action auth-code="materialcenter.picture.upload" text="本地上传" css="layui-btn-sm layui-btn-normal" icon="&#xe67c;" action="window:MaterialCenter/Picture/Upload" after="js:doReload()" />
                <div id="pager" style="float:right;"></div>
            </div>
            <div style="padding-left:15px; margin-top: 20px;">
                <ul id="img-list" class="img_pick"></ul>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <span id="sel-tip" style="position:absolute; left:20px;">已选1个，可选10个</span>
        <span>
            <button class="layui-btn layui-btn-sm" action="javascript:doSelectOk()">确 定</button>
            <action text="取 消" css="layui-btn-warm" action="javascript:closeWindow()" />
        </span>
    </div>
</div>
<script id="tp:img-item" type="text/html">
    {{each items value i}}
    <li class="img_item">
        <label class="frm_checkbox_label img_item_bd {{value.Id | inArraySelected}}" data-item='{"id":"{{value.Id}}", "thumb":"{{value.ThumbPath}}", "path":"{{value.FilePath}}", "url":"{{value.Url}}", "thumb_url":"{{value.ThumbUrl}}"}'>
            <div class="pic_box">
                <img class="pic" src="{{value.ThumbUrl||value.Url}}" />
            </div>
            <span class="lbl_content">
                {{value.Title}}
            </span>
            <div class="selected_mask">
                <div class="selected_mask_inner"></div>
                <div class="selected_mask_icon"></div>
            </div>
        </label>
    </li>
    {{/each}}
</script>
@section Scripts
    {
    <script src="~/lib/artTemplate/template-web.js"></script>
    <script>
        var selectedItems = [];
        var selectedItemIds = [];
        template.defaults.imports.inArraySelected = function (value) { return $.inArray(value, selectedItemIds) >= 0 ? "selected" : ""; };
        var laypage;
        layui.use(['laypage'], function () {
            laypage = layui.laypage;
            loadData({ curr: 1, limit: 10 });
            showSelTip();

            $(".inner_menu .inner_menu_item").on("click", function () {
                if (!$(this).hasClass("selected")) {
                    $(this).addClass("selected").siblings().removeClass("selected");
                    doReload();
                }
            });
        });

        function loadData(pms) {
            let groupId = $(".inner_menu .inner_menu_item.selected").attr("data-groupid");
            ku.ajax.post("", { page: pms.curr, rows: pms.limit, where: { GroupId: groupId} }, function (data) {
                $("#img-list").html(template('tp:img-item', { items: data.data }));
                laypage.render({
                    elem: 'pager'
                    , count: data.count //数据总数
                    , limit: pms.limit
                    , curr: pms.curr
                    , jump: function (obj, first) {
                        if (!first) {
                            loadData(obj);
                        }
                    }
                });

                $("#img-list label.frm_checkbox_label").on("click", function () {
                    var item = JSON.parse($(this).attr("data-item"));
                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected");
                        for (var i = 0; i < selectedItemIds.length; i++) {
                            if (selectedItemIds[i] === item.id) {
                                selectedItemIds.splice(i, 1);
                                selectedItems.splice(i, 1);
                            }
                        }
                    } else {
                        var max = ku.page.querystring.get("max") || 10;
                        if (selectedItemIds.length >= max) {
                            ku.page.msg.tip(`最多只能选择${max}张照片！`);
                            return;
                        }
                        $(this).addClass("selected");
                        selectedItems.push(item);
                        selectedItemIds.push(item.id);
                    }
                    showSelTip();
                });
            });
        }

        function doReload() {
            loadData({ curr: 1, limit: 10 });
        }

        function showSelTip() {
            var max = ku.page.querystring.get("max") || 10;
            $("#sel-tip").text(`已选${selectedItemIds.length}个，可选${max}个`);
        }

        function doSelectOk() {
            closeWindow(selectedItems);
        }
    </script>
}