@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：微信菜单 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">微信菜单列表</div>
        <div class="layui-card-body">
            <div class="toolbar">
                <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                <action id="btnAdd" auth-code="wechat.menu.edit" text="新增" icon="&#xe608;" action="window:/WeChat/WxMenu/Edit" after="grid:reload['#list']" />
                <span class="toolbar-right">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">公众号</label>
                            <div class="layui-input-block">
                                <select id="scAccount" lay-verify="required" lay-filter="account">
                                    @foreach (var account in ViewBag.Accounts)
                                    {
                                        <option value="@account.Id">@account.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </span>
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            form.on('select(account)', function (data) {
                $("#list").vinoGrid("search");
                $("#btnAdd").attr("action", "window:/WeChat/WxMenu/Edit?AccountId=" + data.value);
            });
        });

        $(function () {
            $("#btnAdd").attr("action", "window:/WeChat/WxMenu/Edit?AccountId=" + $("#scAccount").val());
            $("#list").vinoGrid({
                url: 'GetList',
                cols: [[
                    { field: 'Name', title: '名称', width: 150 },
                    { field: 'IsIndividuation', title: '个性化菜单', width: 100, align: 'center', templet: grid_templet_bool("IsIndividuation") },
                    { field: 'PublishTime', title: '发布时间', width: 150 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        templet: grid_templet_operate([
                            { code: "wechat.menu.edit", text: "编辑", action: `window:/WeChat/WxMenu/Edit?id={{d.Id}}` },
                            { code: "wechat.menu.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]],
                onWhere: function () {
                    return {
                        AccountId: $("#scAccount").val()
                    };
                }
            });
        });
    </script>
}
