@{
//----------------------------------------------------------------
// Copyright (C) 2018 vino 版权所有
//
// 文件名：Index.cshtml
// 功能描述：功能 列表页面
//
// 创建者：kulend@qq.com
// 创建时间：2018-02-04 20:18
//
//----------------------------------------------------------------
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.System
@model List<FunctionDto>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            <span class="layui-breadcrumb">
                <a href="Index">顶级功能</a>
                @foreach (var dto in Model)
                {
                <a href="Index?parentId=@dto.Id">@dto.Name</a>
                }
            </span>
        </div>
        <div class="layui-card-body">
            <div class="toolbar">
                @if (Model != null)
                {
                    if (Model.Count > 1)
                    {
                        <action text="返回上级" size="sm" icon="&#xe619;" action="Index?parentId=@Model[Model.Count - 2].Id" />
                    }
                    else if (Model.Count == 1)
                    {
                        <action text="返回上级" size="sm" icon="&#xe619;" action="Index" />
                    }
                }
                <action icon="&#x1002;" title="刷新" action="grid:reload['#list']" />
                <action auth-code="system.function.edit" text="添加" size="sm" icon="&#xe608;" action="window:/System/Function/Edit?pid=@ViewData["ParentId"]" />
            </div>
            <table id="list"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#list").vinoGrid({
                url: 'List?parentId=@ViewData["ParentId"]',
                cols: [[
                    { field: 'Name', fixed: 'left', title: '功能名称', width: 100 },
                    { field: 'AuthCode', title: '权限码', width: 140 },
                    { field: 'IsEnable', title: '是否可用', width: 100, align: 'center', templet: grid_templet_bool("IsEnable")},
                    { field: 'HasSub', title: '子功能', width: 80, align: 'center', templet: grid_templet_bool("HasSub") },
                    { field: 'OrderIndex', title: '排序值',  width: 80 },
                    {
                        title: '操作', fixed: 'right', width: 165, align: 'center',
                        templet: grid_templet_operate([
                            { code: "", text: "子功能", action: `Index?parentId={{d.Id}}`, css:"layui-btn-primary" },
                            { code: "sys.function.edit", text: "编辑", action: `window:/System/Function/Edit?id={{d.Id}}` },
                            { code: "sys.function.delete", text: "删除", action: `post:Delete?id={{d.Id}}` }
                        ])
                    }
                ]]
            });
        });
    </script>
}
