@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Vino.Core.CMS.Domain.Dto.System
@model List<MenuDto>
<div class="main-content">
    <blockquote class="layui-elem-quote low">
        <span class="layui-breadcrumb">
            <a href="Index">顶级菜单</a>
            @foreach (var dto in Model)
            {
                <a href="Index?parentId=@dto.Id">@dto.Name</a>
            }
        </span>
    </blockquote>
    <div class="toolbar">
        @if (Model != null)
        {
            if (Model.Count > 1)
            {
                <action text="返回上级" size="small" icon="&#xe619;" action="Index?parentId=@Model[Model.Count - 2].Id" />
            }
            else if(Model.Count == 1)
            {
                <action text="返回上级" size="small" icon="&#xe619;" action="Index" />
            }
        }
        <action text="添加" size="small" icon="&#xe608;" action="window:System/Menu/Edit?pid=@ViewData["ParentId"]"/>
        <action text="刷新" size="small" icon="&#x1002;" action="javascript:gridReload()"/>
    </div>
    <table id="list">
    </table>
    <div id="pager"></div>
</div>
@section Scripts
{
    <script>
        layui.use(['layer'], function() {
            var $ = layui.jquery, layer = layui.layer;

        });

        $(function() {
            $("#list").vinoGrid({
                url: 'List?parentId=@ViewData["ParentId"]',
                colModel: [
                    { label: '名称', name: 'Name', width: 60 },
                    { label: '权限编码', name: 'AuthCode', width: 50 },
                    { label: '菜单链接', name: 'Url', width: 100 },
                    { label: '图标', name: 'Icon', width: 40 },
                    { label: '是否显示', name: 'IsShow', width: 40 },
                    { label: '子菜单', name: 'HasSubMenu', width: 40 },
                    { label: '排序值', name: 'OrderIndex', width: 40 },
                    {
                        label: '操作', name: 'Id', width: 100,
                        formatter: function (value, options, row) {
                            var html = '<div class="layui-btn-group">';
                            html += '<button title="子菜单" class="layui-btn layui-btn-mini" action="Index?parentId=' + row.Id + '">子菜单</button>';
                            html += '<button title="编辑" class="layui-btn layui-btn-mini" action="window:System/Menu/Edit?id=' + row.Id + '">编辑</button>';
                            html += '<button title="删除" class="layui-btn layui-btn-mini layui-btn-danger" action="post:Delete?id=' + row.Id + '">删除</button>';
                            html += '</div>';
                            return html;
                        }
                    }
                ],
                pager: "#pager"
            });
        });
    </script>
}
