@model List<Vino.Core.CMS.Domain.Dto.System.MenuDto>
<dl class="layui-nav-child">
    @foreach (var menu in Model)
    {
        <dd data-url="@menu.Url" data-id="@menu.Id">
            <a href="javascript:;">@menu.Name</a>
        </dd>
    }
</dl>